<div class="wrapper">
	<div class="page-header page-header-xs" data-parallax="true"
		style="background-image: url('./assets/img/adatkezeles.png');">
		<div class="title">
			<h2>Adatkezelési szabályzat</h2>
		</div>
		<div class="filter"></div>
	</div>
	<div class="section">
		<div class="container">
			<div class="privacy-content">
				<br>
				<p dir="ltr">1. BEVEZETÉS,
					ADATKEZELŐ ADATAI, ELÉRHETŐSÉGE<br>
					<br>
					A természetes személyeknek a személyes adatok kezelése tekintetében történő védelméről és az
					ilyen adatok szabad áramlásáról, valamint a 95/46/EK rendelet hatályon kívül helyezéséről
					(általános adatvédelmi rendelet) AZ EURÓPAI PARLAMENT ÉS A TANÁCS (EU) 2016/679 RENDELETE
					(2016. április 27.) továbbá az az információs önrendelkezési jogról és az
					információszabadságról szóló 2011. évi CXII. törvény - (Info tv.) szerint az alábbi
					tájékoztatást adjuk.<br>
					<br>
					AZ ADATKEZELŐ ÉS ELÉRHETŐSÉGEI:<br>
					<br>
					Név: Zolnai Enikő egyéni vállalkozó kisadózó<br>
					Székhely: 1162 Budapest Patkószeg utca 4<br>
					E-mail: info@stingerbaitboat.hu<br>
					<br>
					AZ ADATVÉDELMI TISZTVISELŐ ELÉRHETŐSÉGEI:<br>
					<br>
					Név: Zolnai Enikő<br>
					Székhely: 1162 Budapest Patkószeg utca 4<br>
					E-mail: <a href="mailto:info@stingerbaitboat.hu">info@stingerbaitboat.hu</a>
				</p>
				<p dir="ltr"><br>
					Adatkezelő törekszik arra, hogy minél pontosabban betartsa a Nemzeti Adatvédelmi és
					Információszabadság Hatóság ajánlásait, így különösen az előzetes tájékoztatás adatvédelmi
					követelményeiről szóló 2015. szeptember hó 29. napján kiadott ajánlását, és ezért a lehető
					legérthetőbben fejezi ki az adatvédelmi szabályokat, szükség esetén példákkal magyarázva
					azokat, valamint részletesen bemutatja az egyes adatkezelési tevékenységeket, hogy az
					érintett mindezek ismeretében tudja eldönteni azt, hogy önkéntes hozzájárulását adja
					azokhoz, vagy sem.<br>
					Amennyiben megkeresné Vállalkozásunkat, a jelen tájékoztatóban megadott, illetve a honlapon
					elhelyezett elérhetőségeken léphet kapcsolatba az adatkezelővel.<br>
					<br>
					A Vállalkozás minden, hozzá beérkezett e-mailt a küldő nevével, e-mail címével, a dátum,
					időpont adatokkal és más, az üzenetben megadott egyéb személyes adatokkal együtt az
					adatközléstől számított tíz év elteltével töröl.<br>
					<br>
					E tájékoztatóban fel nem sorolt adatkezelésekről az adat felvételekor adunk
					tájékoztatást.<br>
					Tájékoztatjuk az Érintetteket, hogy a bíróság, az ügyész, a nyomozó hatóság, a
					szabálysértési hatóság, a közigazgatási hatóság, a Nemzeti Adatvédelmi és
					Információszabadság Hatóság, illetőleg jogszabály felhatalmazása alapján más szervek
					tájékoztatás adása, adatok közlése, átadása, illetőleg iratok rendelkezésre bocsátása végett
					megkereshetik az adatkezelőt.<br>
					A Vállalkozás a hatóságok részére - amennyiben a hatóság a pontos célt és az adatok körét
					megjelölte - személyes adatot csak annyit és olyan mértékben ad ki, amely a megkeresés
					céljának megvalósításához elengedhetetlenül szükséges.<br>
					<br>
					2. A SZABÁLYZAT HATÁLYA (ONLINE ADATOKRA VONATKOZIK, VÁLTOZTATÁS JOGA)<br>
					<br>
					2.1. A SZABÁLYZAT HATÁLYA<br>
					<br>
					2.1.1. IDŐBELI HATÁLY<br>
					Jelen Szabályzat 2018. július havának 20. napjától további rendelkezésig vagy visszavonásig
					hatályos.<br>
					<br>
					2.1.2. SZEMÉLYI HATÁLY<br>
					Jelen Szabályzat személyi hatálya kiterjed:<br>
					● az Adatkezelőre, továbbá<br>
					● azon személyekre, akik adatait e Szabályzat hatálya alá tartozó adatkezelések
					tartalmazzák, továbbá<br>
					● azon személyekre, akik jogait vagy jogos érdekeit az adatkezelés érinti<br>
					<br>
					Az Adatkezelő tehát elsősorban azoknak a természetes személyeknek az adatait kezeli,
					akik<br>
					● a számukra elérhető úton keresztül vagy módon - például elektronikus úton, az Adatkezelő
					bármely e-mail címére küldött adataikkal, közösségi oldalon keresztül, vagy telefonon, vagy
					személyesen - kapcsolat kialakítása céljából jelentkeztek, az Adatkezelő szolgáltatásait
					igénybe vették, vagy megigényelték; vagy kapcsolat kialakításán kívül eső más okból vagy
					célból jelentkeztek;<br>
					● az Adatkezelő Munkatársai<br>
					● az Adatkezelő természetes személy Partnerei, nem természetes személy Partnereinek
					képviselői, kapcsolattartói, esetleg egyéb munkavállalói.<br>
					<br>
					2.1.3. TÁRGYI HATÁLY<br>
					Jelen Szabályzat hatálya kiterjed az Adatkezelő minden szervezeti egységében folytatott
					valamennyi személyes adatokat tartalmazó adatkezelésre függetlenül attól, hogy az
					elektronikusan és/vagy papíralapon történik.<br>
					<br>
					2.2. ONLINE ÁTADOTT ADATOK<br>
					Jelen tájékoztató hatálya kiterjed egyrészt a Vállalkozásnak a <a
						href="http://www.stingerbaitboat.hu/">www.stingerbaitboat.hu</a> címen megtalálható
					online portálján, másrészt a Vállalkozás székhelyén/telephelyén a szolgáltatások
					igénybevétele kapcsán átadott személyes adatok kezelésére.<br>
					<br>
					2.3.VÁLTOZTATÁS JOGA<br>
					A Vállalkozás fenntartja magának a jogot jelen tájékoztató bármikor történő
					megváltoztatására, az esetleges változásokról kellő időben értesíti partnereit. A
					tájékoztató módosításai a Vállalkozás honlapon történő közzététellel lépnek hatályba.
					Amennyiben az Érintetteknek olyan kérdése lenne, mely jelen közleményünk alapján nem
					egyértelmű, kérjük írja meg nekünk, és kollégánk megválaszolja kérdését.<br>
					A Vállalkozás elkötelezett a szolgáltatások minőségének a legmagasabb szinten tartása
					irányában, a rendszer használatából eredő esetleges károkért azonban felelősséget nem
					vállal.<br>
					<br>
					3. VONATKOZÓ JOG ALKALMAZÁSA<br>
					<br>
					A Vállalkozás és szolgáltatásaival kapcsolatos bármilyen jogvita a magyar joghatóság, a
					magyar bíróságok illetékessége alá tartozik a magyar jogszabályok alapul vételével.<br>
					<br>
					4. VONATKOZÓ JOGSZABÁLYOK<br>
					<br>
					A Vállalkozás adatkezelési alapelvei összhangban vannak az adatvédelemmel kapcsolatos
					hatályos jogszabályokkal, így különösen az alábbiakkal:<br>
					● 1997. évi CLV. törvény - a fogyasztóvédelemről<br>
					● 2017. évi XC. törvény - a büntetőeljárásról<br>
					● 2000. évi C. törvény - a számvitelről<br>
					● 2001. évi CVIII. törvény - az elektronikus kereskedelmi szolgáltatások, valamint az
					információs társadalommal összefüggő szolgáltatások egyes kérdéseiről<br>
					● 2003. évi C. törvény - az elektronikus hírközlésről<br>
					● 2005. évi CXXXIII. törvény - a személy- és vagyonvédelmi, valamint a magánnyomozói
					tevékenység szabályairól<br>
					● 2008. évi XLVIII. törvény - a gazdasági reklámtevékenység alapvető feltételeiről és egyes
					korlátairól<br>
					● 2008. évi XLVII. törvény - a fogyasztókkal szembeni tisztességtelen kereskedelmi gyakorlat
					tilalmáról,<br>
					● 2011. évi CXII. törvény - az információs önrendelkezési jogról és az
					információszabadságról<br>
					● 2012. évi CLIX. törvény - a postai szolgáltatásokról<br>
					● 2013. évi V. törvény - a Polgári Törvénykönyvről<br>
					● az Európai Parlament és a Tanács (EU) 2016/679 Rendelete (GDPR).<br>
					<br>
					5. FOGALOM MEGHATÁROZÁS<br>
					<br>
					5.1. SZEMÉLYES ADAT:<br>
					Azonosított vagy azonosítható természetes személyre ("érintett") vonatkozó bármely
					információ; azonosítható az a természetes személy, aki közvetlen vagy közvetett módon,
					különösen valamely azonosító, például név, szám, helymeghatározó adat, online azonosító vagy
					a természetes személy testi, fiziológiai, genetikai, szellemi, gazdasági, kulturális vagy
					szociális azonosságára vonatkozó egy vagy több tényező alapján azonosítható.<br>
					<br>
					5.2. ADATKEZELÉS:<br>
					A személyes adatokon vagy adatállományokon automatizált vagy nem automatizált módon végzett
					bármely művelet vagy műveletek összessége, így a gyűjtés, rögzítés, rendszerezés, tagolás,
					tárolás, átalakítás vagy megváltoztatás, lekérdezés, betekintés, felhasználás, közlés
					továbbítás, terjesztés vagy egyéb módon történő hozzáférhetővé tétel útján, összehangolás
					vagy összekapcsolás, korlátozás, törlés, illetve megsemmisítés.<br>
					<br>
					5.3. ADATKEZELŐ:<br>
					Az a természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet,
					aki, vagy amely önállóan vagy másokkal együtt az adatok kezelésének célját meghatározza, az
					adatkezelésre (beleértve a felhasznált eszközt) vonatkozó döntéseket meghozza és
					végrehajtja, vagy az általa megbízott adatfeldolgozóval végrehajtatja, így a jelen
					Szabályzat szempontjából Adatkezelő az 1. fejezetben meghatározott személyek együttesen.<br>
					<br>
					5.4. ADATFELDOLGOZÓ:<br>
					Az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv,
					amely az adatkezelő nevében személyes adatokat kezel.<br>
					<br>
					5.5. ADATÁLLOMÁNY:<br>
					Az egy nyilvántartásban kezelt adatok összessége.<br>
					<br>
					5.6. CÍMZETT:<br>
					Az a természetes vagy jogi személy, közhatalmi szerv, ügynökség vagy bármely egyéb szerv,
					akivel vagy amellyel a személyes adatot közlik, függetlenül attól, hogy harmadik fél-e. Azon
					közhatalmi szervek, amelyek egy egyedi vizsgálat keretében az uniós vagy a tagállami joggal
					összhangban férhetnek hozzá személyes adatokhoz, nem minősülnek címzettnek; az említett
					adatok e közhatalmi szervek általi kezelése meg kell, hogy feleljen az adatkezelés céljainak
					megfelelően az alkalmazandó adatvédelmi szabályoknak.<br>
					<br>
					5.7. HOZZÁJÁRULÁS:<br>
					Az érintett akaratának önkéntes és határozott kinyilvánítása, amely megfelelő tájékoztatáson
					alapul, és amellyel félreérthetetlen beleegyezését adja a rá vonatkozó személyes adatok -
					teljes körű vagy egyes műveletekre kiterjedő - kezeléséhez, így tehát a hozzájárulásnak 3
					alapeleme van: az önkéntesség, a határozottság, és a megfelelő tájékozottság.<br>
					<br>
					5.8. HARMADIK SZEMÉLY:<br>
					Olyan természetes vagy jogi személy, illetve jogi személyiséggel nem rendelkező szervezet,
					aki vagy amely nem azonos az érintettel, az adatkezelővel vagy az adatfeldolgozóval.<br>
					<br>
					5.9. ADATVÉDELMI INCIDENS:<br>
					Személyes adat jogellenes kezelése vagy feldolgozása, így különösen a jogosulatlan
					hozzáférés, megváltoztatás, továbbítás, nyilvánosságra hozatal, törlés vagy megsemmisítés,
					valamint a véletlen megsemmisülés és sérülés.<br>
					<br>
					5.10. PARTNER:<br>
					Az Adatkezelő szolgáltatásait szerződés alapján igénybe vevő és/vagy az Adatkezelő
					szolgáltatásainak teljesítéseit elősegítő (teljesítési segéd) jogi személyek, jogi
					személyiséggel nem rendelkező gazdasági társaságok, amelyek felé az Adatkezelő - az érintett
					hozzájárulását követően - személyes adatot továbbít vagy továbbíthat, vagy amelyek az
					Adatkezelő számára adattárolási, feldolgozási, kapcsolódó informatikai és egyéb biztonságos
					adatkezelést elősegítő tevékenységet végeznek vagy végezhetnek.<br>
					<br>
					5.11. MUNKATÁRS:<br>
					Az Adatkezelővel megbízási-, munka- vagy egyéb jogviszonyban levő természetes személy, aki
					az Adatkezelő szolgáltatásainak ellátásnak, teljesítésének feladatával van bízva és
					adatkezelési vagy adatfeldolgozási feladatai során személyes adatokkal kapcsolatba kerül
					vagy kerülhet és akinek tevékenységével kapcsolatban az Adatkezelő teljes felelősséget
					vállal az érintettek személyi köre és harmadik személyek irányában;<br>
					<br>
					5.12.
				</p>
				<p dir="ltr">&nbsp;WEBOLDAL:<br>
					A portál és minden aloldala, amelynek üzemeltetője az Adatkezelő;<br>
					<br>
					5.13. KÖZÖSSÉGI OLDAL:<br>
					A portálon található, a weboldalhoz, annak tartalmához kapcsolódó oldal, amelynek gondozását
					az Adatkezelő végzi.<br>
					<br>
					6. ALAPELVEK FELSOROLÁSA (CÉLHOZ KÖZÖTTSÉG, PONTOSSÁG, STB)<br>
					<br>
					6.1. JOGSZERŰSÉG, TISZTESSÉGES ELJÁRÁS ÉS ÁTLÁTHATÓSÁG:<br>
					A személyes adatok kezelését jogszerűen és tisztességesen, valamint az érintett számára
					átlátható módon kell végezni.<br>
					<br>
					6.2. CÉLHOZ KÖTÖTTSÉG:<br>
					A személyes adatok gyűjtése csak meghatározott, egyértelmű és jogszerű célból történjen, és
					azokat ne kezeljék ezekkel a célokkal össze nem egyeztethető módon; az EU 2016/679 Rendelet
					89. cikk (1) bekezdésének megfelelően nem minősül az eredeti céllal össze nem
					egyeztethetőnek a közérdekű archiválás céljából, tudományos és történelmi kutatási célból
					vagy statisztikai célból történő további adatkezelés.<br>
					<br>
					6.3. ADATTAKARÉKOSSÁG:<br>
					A személyes adatok az adatkezelés céljai szempontjából megfelelőek és relevánsak kell, hogy
					legyenek, és a szükségesre kell korlátozódniuk.<br>
					<br>
					6.4. PONTOSSÁG:<br>
					A személyes adatoknak pontosnak és szükség esetén naprakésznek kell lenniük; minden ésszerű
					intézkedést meg kell tenni annak érdekében, hogy az adatkezelés céljai szempontjából
					pontatlan személyes adatokat haladéktalanul töröljék vagy helyesbítsék.<br>
					<br>
					6.5. KORLÁTOZOTT TÁROLHATÓSÁG:<br>
					A személyes adatok tárolásának olyan formában kell történnie, amely az érintettek
					azonosítását csak a személyes adatok kezelése céljainak eléréséhez szükséges ideig teszi
					lehetővé; a személyes adatok ennél hosszabb ideig történő tárolására csak akkor kerülhet
					sor, amennyiben a személyes adatok kezelésére az EU 2016/679 Rendelet 89. cikk (1)
					bekezdésének megfelelően közérdekű archiválás céljából, tudományos és történelmi kutatási
					célból vagy statisztikai célból kerül majd sor, az e rendeletben az érintettek jogainak és
					szabadságainak védelme érdekében előírt megfelelő technikai és szervezési intézkedések
					végrehajtására is figyelemmel.<br>
					<br>
					6.6. INTEGRITÁS ÉS BIZALMAS JELLEG:<br>
					A személyes adatok kezelését oly módon kell végezni, hogy megfelelő technikai vagy
					szervezési intézkedések alkalmazásával biztosítva legyen a személyes adatok megfelelő
					biztonsága, az adatok jogosulatlan vagy jogellenes kezelésével, véletlen elvesztésével,
					megsemmisítésével vagy károsodásával szembeni védelmet is ideértve.<br>
					<br>
					6.7. ELSZÁMOLTATHATÓSÁG:<br>
					Az adatkezelő felelős a fentiek megfelelésért, továbbá képesnek kell lennie e megfelelés
					igazolására.<br>
					<br>
					7. ÉRINTETTEK JOGAI (TÖRLÉS, ELFELEDTETÉS, TILTAKOZÁS, STB)<br>
					<br>
					Az Érintett tájékoztatást kérhet személyes adatai kezeléséről, valamint kérheti személyes
					adatainak helyesbítését, illetve - a kötelező adatkezelések kivételével - törlését vagy
					zárolását az erre irányuló kérelem űrlap kitöltésével, melyet ide kattintva tud
					letölteni.<br>
					<br>
					7.1. TÁJÉKOZTATÁSHOZ VALÓ JOG:<br>
					Az Érintett kérelmére a Vállalkozás, mint Adatkezelő tájékoztatást ad az általa kezelt,
					illetőleg az általa megbízott feldolgozó által feldolgozott adatairól, azok forrásáról, az
					adatkezelés céljáról, jogalapjáról, időtartamáról, az adatfeldolgozó nevéről, címéről és az
					adatkezeléssel összefüggő tevékenységéről, az adatvédelmi incidens körülményeiről,
					hatásairól és az elhárítására megtett intézkedésekről, továbbá adattovábbítás esetén annak
					jogalapjáról és címzettjéről.<br>
					A Vállalkozás a kérelem benyújtásától számított legrövidebb idő alatt, legfeljebb azonban 25
					napon belül, közérthető formában, az érintett erre irányuló kérelmére írásban adja meg a
					tájékoztatást.<br>
					E tájékoztatás ingyenes, ha a tájékoztatást kérő a folyó évben azonos adatkörre vonatkozó
					tájékoztatási kérelmet az Adatkezelőhöz még nem nyújtott be. Egyéb esetekben a Vállalkozás
					költségtérítést állapít meg.<br>
					Az Érintett tájékoztatását a Vállalkozás csak törvényben meghatározott esetekben tagadhatja
					meg. A tájékoztatás megtagadása esetén a Vállalkozás írásban közli az Érintettel, hogy a
					felvilágosítás megtagadására az Infótörvény mely rendelkezése alapján került sor. A
					felvilágosítás megtagadása esetén a Vállalkozás tájékoztatja az Érintettet a bírósági
					jogorvoslat, továbbá a Felügyeleti Hatósághoz (NAIH) fordulás lehetőségéről.<br>
					<br>
					7.2. HELYESBÍTÉS JOGA:<br>
					Ha a személyes adat a valóságnak nem felel meg, és a valóságnak megfelelő személyes adat a
					Vállalkozás rendelkezésére áll, a személyes adatot a Vállalkozás helyesbíti.<br>
					<br>
					7.3. TÖRLÉSHEZ VALÓ JOG:<br>
					Vállalkozás a személyes adatot törli, ha:<br>
					a) kezelése jogellenes;<br>
					b) az érintett kéri (kivéve, ha az adatkezelés jogszabály alapján kötelező);<br>
					c) az hiányos vagy téves - és ez az állapot jogszerűen nem orvosolható -, feltéve, hogy a
					törlést törvény nem zárja ki;<br>
					d) az adatkezelés célja megszűnt, vagy az adatok tárolásának törvényben meghatározott
					határideje lejárt (kivéve azt az adatot, amelynek adathordozóját a levéltári anyag védelmére
					vonatkozó jogszabály értelmében levéltári őrizetbe kell adni);<br>
					e) azt a bíróság vagy a Hatóság elrendelte.<br>
					<br>
					Az adat kezelése jogellenes, ha:<br>
					a) az adat hiányos vagy téves - és ez az állapot jogszerűen nem orvosolható -, feltéve, hogy
					a törlést törvény nem zárja ki;<br>
					b) az adatkezelés célja megszűnt, vagy az adatok tárolásának törvényben meghatározott
					határideje lejárt;<br>
					c) azt a bíróság vagy a Hatóság elrendelte.<br>
					d) a személyes adatokra már nincs szükség abból a célból, amelyből azokat gyűjtötték vagy
					más módon kezelték;<br>
					e) az érintett tiltakozik az adatkezelés ellen és nincsen elsőbbséget élvező jogszerű ok az
					adatkezelésre.<br>
					<br>
					Az adattörlés korlátai:<br>
					a) a véleménynyilvánítás szabadságához és a tájékozódáshoz való jog gyakorlása;<br>
					b) a személyes adatok kezelését előíró, az adatkezelőre alkalmazandó uniós vagy tagállami
					jog szerinti kötelezettség teljesítése, illetve közérdekből vagy az adatkezelőre ruházott
					közhatalmi jogosítvány gyakorlása keretében végzett feladat végrehajtása;<br>
					c) népegészségügy területét érintő közérdek;<br>
					d) az EU 2016/679 Rendelet 89. cikk (1) bekezdésével összhangban a közérdekű archiválás
					céljából, tudományos és történelmi kutatási célból vagy statisztikai célból, amennyiben a
					törléshez való jog valószínűsíthetően lehetetlenné tenné vagy komolyan veszélyeztetné ezt az
					adatkezelést; vagy<br>
					e) jogi igények előterjesztése, érvényesítése, illetve védelme.<br>
					<br>
					7.4. AZ ADATKEZELS KORLÁTOZÁSÁHOZ VALÓ JOG:<br>
					Az érintett jogosult arra, hogy kérésére az adatkezelő korlátozza az adatkezelést, ha az
					alábbiak valamelyike teljesül:<br>
					a) az érintett vitatja a személyes adatok pontosságát, ez esetben a korlátozás arra az
					időtartamra vonatkozik, amely lehetővé teszi, hogy az adatkezelő ellenőrizze a személyes
					adatok pontosságát;<br>
					b) az adatkezelés jogellenes, és az érintett ellenzi az adatok törlését, és ehelyett kéri
					azok felhasználásának korlátozását;<br>
					c) az adatkezelőnek már nincs szüksége a személyes adatokra adatkezelés céljából, de az
					érintett igényli azokat jogi igények előterjesztéséhez, érvényesítéséhez vagy védelméhez;
					vagy<br>
					a) az érintett a tiltakozott az adatkezelés ellen; ez esetben a korlátozás arra az
					időtartamra vonatkozik, amíg megállapításra nem kerül, hogy az adatkezelő jogos indokai
					elsőbbséget élveznek-e az érintett jogos indokaival szemben.<br>
					<br>
					Ha az adatkezelés korlátozás alá esik, az ilyen személyes adatokat a tárolás kivételével
					csak az Érintett hozzájárulásával, vagy jogi igények előterjesztéséhez, érvényesítéséhez
					vagy védelméhez, vagy más természetes vagy jogi személy jogainak védelme érdekében, vagy az
					Európai Unió, illetve valamely tagállam fontos közérdekéből lehet kezelni.<br>
					<br>
					Az Adatkezelő az Érintettet, akinek a kérésére korlátozták az adatkezelést, az adatkezelés
					korlátozásának feloldásáról előzetesen tájékoztatja.<br>
					<br>
					7.5. ELJÁRÁSI SZABÁLYOK:<br>
					A személyes adatok törlésére, korlátozására, helyesbítésére 25 (huszonöt) nap áll az
					Adatkezelő rendelkezésére. Szükség esetén, figyelembe véve a kérelem összetettségét és a
					kérelmek számát, ez a határidő további két hónappal meghosszabbítható. A határidő
					meghosszabbításáról az adatkezelő a késedelem okainak megjelölésével a kérelem
					kézhezvételétől számított egy hónapon belül tájékoztatja az érintettet. Ha az érintett
					elektronikus úton nyújtotta be a kérelmet, a tájékoztatás elektronikus úton kerül megadásra,
					kivéve, ha az érintett azt másként kéri.<br>
					Amennyiben az Adatkezelő az érintett helyesbítés, zárolás vagy törlés iránti igényét nem
					teljesíti, 25 (huszonöt) napon belül írásban vagy az Érintett hozzájárulásával elektronikus
					úton közli az elutasítás indokait.<br>
					A kérelem elutasítása esetén Adatkezelő tájékoztatja az Érintettet a bírósági jogorvoslat,
					továbbá a Hatósághoz fordulás lehetőségéről. Az Érintett jogainak megsértése esetén
					bírósághoz fordulhat. Azt, hogy az adatkezelés a jogszabályban foglaltaknak megfelel, az
					Adatkezelő köteles bizonyítani. A per elbírálása a törvényszék hatáskörébe tartozik. A per -
					az Érintett választása szerint - az érintett lakóhelye vagy tartózkodási helye szerinti
					törvényszék előtt is megindítható.<br>
					Adatkezelő helyesbítésről, a zárolásról, a megjelölésről és a törlésről az Érintettet,
					továbbá mindazokat értesíti, akiknek korábban az adatot adatkezelés céljára továbbította. Az
					értesítést mellőzi, ha ez az adatkezelés céljára való tekintettel az Érintett jogos érdekét
					nem sérti.<br>
					<br>
					7.6. ADATHORDOZÁSHOZ VALÓ JOG:<br>
					Az Érintett jogosult arra, hogy a rá vonatkozó, általa az adatkezelő rendelkezésére
					bocsátott személyes adatokat tagolt, széles körben használt, géppel olvasható formátumban
					megkapja, és ezeket az adatokat egy másik adatkezelőnek továbbítsa.<br>
					<br>
					7.7. TILTAKOZÁS JOGA:<br>
					Az Érintett tiltakozhat személyes adatának kezelése ellen, ha<br>
					a) a személyes adatok kezelése vagy továbbítása kizárólag az adatkezelőre vonatkozó jogi
					kötelezettség teljesítéséhez vagy az adatkezelő, adatátvevő vagy harmadik személy jogos
					érdekének érvényesítéséhez szükséges, kivéve, ha az adatkezelést törvény rendelte el;<br>
					b) a személyes adat felhasználása vagy továbbítása közvetlen üzletszerzés,
					közvélemény-kutatás vagy tudományos kutatás céljára
				</p>
				<p dir="ltr">&nbsp;történik;<br>
					c) törvényben meghatározott egyéb esetben.<br>
					A Vállalkozás a tiltakozást a kérelem benyújtásától számított legrövidebb időn belül, de
					legfeljebb 15 nap alatt megvizsgálja, annak megalapozottsága kérdésében döntést hoz, és
					döntéséről a kérelmezőt írásban tájékoztatja. Ha a Vállalkozás az érintett tiltakozásának
					megalapozottságát megállapítja, az adatkezelést - beleértve a további adatfelvételt és
					adattovábbítást is - megszünteti, és az adatokat zárolja, valamint a tiltakozásról, továbbá
					az annak alapján tett intézkedésekről értesíti mindazokat, akik részére a tiltakozással
					érintett személyes adatot korábban továbbította, és akik kötelesek intézkedni a tiltakozási
					jog érvényesítése érdekében.<br>
					Amennyiben az Érintett a Vállalkozás a meghozott döntésével nem ért egyet, az ellen - annak
					közlésétől számított 30 napon belül - bírósághoz fordulhat.<br>
					A Vállalkozás az Érintett adatát nem törölheti, ha az adatkezelést törvény rendelte el. Az
					adat azonban nem továbbítható az adatátvevő részére, ha a Vállalkozás egyetértett a
					tiltakozással, illetőleg a bíróság a tiltakozás jogosságát megállapította.<br>
					<br>
					7.8. AUTOMATIZÁLT DÖNTÉSHOZATAL EGYEDI ÜGYEKBEN, BELEÉRTVE A PROFILALKOZTÁST:<br>
					<br>
					Az érintett jogosult arra, hogy ne terjedjen ki rá az olyan, kizárólag automatizált
					adatkezelésen - ideértve a profilalkotást is - alapuló döntés hatálya, amely rá nézve
					joghatással járna vagy őt hasonlóképpen jelentős mértékben érintené.<br>
					Nem alkalmazható a fenti jogosultság, ha az adatkezelés az érintett és az adatkezelő közötti
					szerződés megkötése vagy teljesítése érdekében szükséges; meghozatalát az adatkezelőre
					alkalmazandó olyan uniós vagy tagállami jog teszi lehetővé, amely az érintett jogainak és
					szabadságainak, valamint jogos érdekeinek védelmét szolgáló megfelelő intézkedéseket is
					megállapít; vagy az érintett kifejezett hozzájárulásán alapul.<br>
					<br>
					8. AZ ADATKEZELÉS BIZTONSÁGI ELVEI:<br>
					<br>
					A Vállalkozás a személyes adatok kezeléséhez a szolgáltatás nyújtása során alkalmazott
					informatikai eszközöket úgy választja meg és üzemelteti, hogy a kezelt adat:<br>
					a) az arra feljogosítottak számára hozzáférhető (rendelkezésre állás);<br>
					b) hitelessége és hitelesítése biztosított (adatkezelés hitelessége);<br>
					c) változatlansága igazolható (adatintegritás);<br>
					d) a jogosulatlan hozzáférés ellen védett (adat bizalmassága) legyen.<br>
					A Vállalkozás olyan műszaki, szervezési és szervezeti intézkedésekkel gondoskodik az
					adatkezelés biztonságának védelméről, amely az adatkezeléssel kapcsolatban jelentkező
					kockázatoknak megfelelő védelmi szintet nyújt.<br>
					A Vállalkozás az adatkezelés során megőrzi<br>
					a) a titkosságot: megvédi az információt, hogy csak az férhessen hozzá, aki erre
					jogosult;<br>
					b) a sértetlenséget: megvédi az információnak és a feldolgozás módszerének a pontosságát és
					teljességét;<br>
					c) a rendelkezésre állást: gondoskodik arról, hogy amikor a jogosult használónak szüksége
					van rá, valóban hozzá tudjon férni a kívánt információhoz, és rendelkezésre álljanak az
					ezzel kapcsolatos eszközök.<br>
					A Vállalkozás informatikai rendszere és hálózata egyaránt védett a számítógéppel támogatott
					csalás, kémkedés, szabotázs, vandalizmus, tűz és árvíz, továbbá a számítógépvírusok, a
					számítógépes betörések és a szolgálatmegtagadásra vezető támadások ellen. Az üzemeltető a
					biztonságról szerverszintű és alkalmazásszintű védelmi eljárásokkal gondoskodik.<br>
					Tájékoztatjuk az Érintetteket, hogy az interneten továbbított elektronikus üzenetek,
					protokolltól (e-mail, web, ftp, stb.) függetlenül sérülékenyek az olyan hálózati
					fenyegetésekkel szemben, amelyek tisztességtelen tevékenységre, szerződés vitatására, vagy
					az információ felfedésére, módosítására vezetnek. Az ilyen fenyegetésektől megvédendő a
					Vállalkozás megtesz minden tőle elvárható óvintézkedést. A rendszereket megfigyeli annak
					érdekében, hogy minden biztonsági eltérést rögzíthessen, és bizonyítékkal szolgálhasson
					minden biztonsági esemény esetében. A rendszermegfigyelés ezen kívül lehetővé teszi az
					alkalmazott óvintézkedések hatékonyságának ellenőrzését is.<br>
					<br>
					9. A VÁLLALKOZÁS MŰKÖDÉSÉVEL KAPCSOLATOS ADATKEZELÉSEK<br>
					<br>
					a) Érintettek: Munkavállalók<br>
					<br>
					Adatkezelés célja: A munkajogviszonnyal kapcsolatos ügyintézés.<br>
					Adatkezelés jogalapja:<br>
					<br>
					2011. évi CXII. törvény<br>
					<br>
					2012. évi I. törvény<br>
					<br>
					2017. évi CL. törvény<br>
					<br>
					illetve az érintett hozzájárulása.<br>
					<br>
					b) Érintettek: Partnerek<br>
					Adatkezelés célja: A Vállalkozás és partnerei közötti együttműködés, kapcsolatteremtés
					lehetővé tétele, megkönnyítése.<br>
					Adatkezelés jogalapja:<br>
					<br>
					2011. évi CXII. törvény<br>
					<br>
					2005. évi CLXIV. tv.<br>
					<br>
					illetve az érintett hozzájárulása.<br>
					<br>
					c) Érintettek: Ügyfelek<br>
					Adatkezelés célja: Az adatkezelés célja az érintett számára megfelelő információ, ajánlat
					nyújtása és kapcsolattartás, panasz esetén a panasz közlésének lehetővé tétele, a panasz
					azonosítása és a törvényből származó kötelezettségek, kötelező adatok felvétele.<br>
					Adatkezelés jogalapja:<br>
					<br>
					2011. évi CXII. törvény<br>
					<br>
					illetve az érintett hozzájárulása.<br>
					<br>
					d) Érintettek: Webshop vásárlók<br>
					<br>
					Kezelt adat és adatkezelés célja:<br>
					<br>
					Jelszó - A felhasználói fiókba történő biztonságos belépést szolgálja.<br>
					<br>
					Vezeték- és keresztnév - A kapcsolatfelvételhez, a vásárláshoz és a szabályszerű számla
					kiállításához szükséges.<br>
					<br>
					E-mail cím - Kapcsolattartás<br>
					<br>
					Telefonszám - Kapcsolattartás, a számlázással, vagy a szállítással kapcsolatos kérdések
					hatékonyabb egyeztetése.<br>
					<br>
					Számlázási név és cím - A szabályszerű számla kiállítása, továbbá a szerződés létrehozása,
					tartalmának meghatározása, módosítása, teljesítésének figyelemmel kísérése, az abból
					származó díjak számlázása, valamint az azzal kapcsolatos követelések érvényesítése.<br>
					<br>
					Szállítási név és cím - A házhoz szállítás lehetővé tétele.<br>
					<br>
					A vásárlás/regisztráció időpontja - Technikai művelet végrehajtása.<br>
					<br>
					Adatkezelés jogalapja:<br>
					<br>
					2011. évi CXII. törvény<br>
					<br>
					2001. évi CVIII. törvény<br>
					<br>
					illetve az érintett hozzájárulása.<br>
					<br>
					e) Érintettek: Hírlevélre feliratkozók<br>
					Kezeld adat: Név, e-mail cím<br>
					Adatkezelés célja: A hírlevél küldéssel kapcsolatos adatkezelés célja a címzett teljes körű
					általános, vagy személyre szabott tájékoztatása az Adatkezelő legújabb akcióiról,
					eseményeiről, híreiről, értesítés szolgáltatások változásáról, elmaradásáról.<br>
					Adatkezelés jogalapja:<br>
					<br>
					2011. évi CXII. törvény<br>
					<br>
					2001. évi CVIII. törvény<br>
					<br>
					illetve az érintett hozzájárulása.<br>
					<br>
					10. HÍRLEVÉL, DIREKT MARKETING TEVÉKENYSÉG, REGISZTRÁCIÓ A HONLAPON<br>
					<br>
					10.1. HÍRLEVÉL ÉS DIREKT MARKETING<br>
					A gazdasági reklámtevékenység alapvető feltételeiről és egyes korlátairól szóló 2008. évi
					XLVIII. törvény 6.§-a értelmében Érintett előzetesen és kifejezetten hozzájárulhat ahhoz,
					hogy a Vállalkozás reklámajánlataival, egyéb küldeményeivel a regisztrációkor megadott
					elérhetőségin megkeresse.<br>
					Továbbá Érintett a jelen tájékoztató rendelkezéseit szem előtt tartva hozzájárulhat ahhoz,
					hogy Vállalkozás a reklámajánlatok küldéséhez szükséges személyes adatait kezelje.<br>
					A Vállalkozás nem küld kéretlen reklámüzenetet, és Érintett korlátozás és indoklás nélkül,
					ingyenes leiratkozhat az ajánlatok küldéséről. Ebben az esetben a Vállalkozás minden- a
					reklámüzenetek küldéséhez szükséges - személyes adatát törli nyilvántartásából és további
					reklámajánlataival nem keresi meg az Érintettet. Érintett a reklámokról leiratkozhat az
					üzentben lévő linkre kattintva.<br>
					Az érintettek köre: A hírlevélre feliratkozó valamennyi érintett.<br>
					Az adatkezelés célja: reklámot tartalmazó elektronikus üzenetek (E-mail, push üzenet)
					küldése az érintett részére, tájékoztatás nyújtása az aktuális információkról, termékekről,
					akciókról, új funkcióról.<br>
					Az adatkezelés időtartama, az adatok törlésének határideje: a hozzájáruló nyilatkozat
					visszavonásig, azaz a leiratkozási tart az adatkezelés.<br>
					<br>
					10.2. REGISZTRÁCIÓ A HONLAPON<br>
					Az adatkezelés célja: a Vállalkozás webáruházában történő vásárlás, számla kiállítása, a
					vásárlók egymástól való megkülönböztetése, a megrendelések teljesítése, a vásárlás és
					fizetés dokumentálása, számviteli kötelezettség teljesítése, vásárlói kapcsolattartás, a
					vásárlói szokások elemzése, célozottabb kiszolgálás, direktmarketing tartalmú megkeresések,
					tájékoztatás az aktuális információkról, ajánlatokról.<br>
					Az adatkezelés jogalapja:<br>
					<br>
					az érintett önkéntes hozzájárulása<br>
					<br>
					2001. évi CVIII. 13/A. §-a<br>
					<br>
					2000. évi C. törvény. 169. § (2) bekezdése<br>
					<br>
					2008. évi XLVIII. törvény 6. § (5) bekezdése.<br>
					A kezelt személyes adatok típusa:<br>
					<br>
					vevőszám, név, egyéb cím, lakcím, e-mail cím, telefonszám, a bejelentkezéshez szükséges
					e-mail cím és jelszó, az egyes vásárlások adatai (dátum, időpont, vásárolt termék, a
					vásárlás értéke), számlázási cím, szállítási cím, a direktmarketing célú megkereséshez adott
					hozzájárulás.<br>
					Az adatkezelés időtartama:<br>
					• a direktmarketing célú hozzájárulások tekintetében az Érintett hozzájárulásának
					visszavonásáig,<br>
					• a profiladatok tekintetében az utolsó bejelentkezéstől számított tíz év,<br>
					• a vásárlások adatai tekintetében a 2000. évi C. törvény 169. § (2) bekezdése alapján nyolc
					év.<br>
					<br>
					Kártyás fizetés esetén a bankkártya és a kártyás fizetési tranzakció adatait a K&amp;H 1095
					Budapest, Lechner Ödön fasor 9. kezeli.<br>
					<br>
					Adattovábbítás:<br>
					• bankkártyás fizetési módozat választása esetén a fizető azonosítója, a tranzakció összege,
					dátuma, időpontja a K&amp;H 1095 Budapest, Lechner Ödön fasor 9. felé,<br>
					<br>
					• termékek kiszállítása esetén a címzett neve, címe, telefonszáma, a rendelés értéke a GLS
					General Logistics Systems Hungary Kft. felé.<br>
					Az adattovábbítás jogalapja: az érintett önkéntes hozzájárulása, illetve a GLS General
					Logistics Systems Hungary Kft. tekintetében a 2012. évi CLIX. törvény 54. § (1)
					bekezdése.<br>
					<br>
					A direkt marketing üzenetek továbbításához adott hozzájárulás visszavonását és a személyes
					adatok törlését vagy módosítását az alábbi elérhetőségeken lehet kérni:<br>
					• e-mail útján info@stingerbaitboat.hu címen, továbbá<br>
					• postai úton a Zolnai Enikő e.v. 1162 Bp patkószeg utca 4 címen<br>
					<br>
					Adattovábbítás külföldre:<br>
					<br>
					Nem történik adattovábbítás.<br>
					<br>
					11. ADATFELDOLGOZÓK MEGNEVEZÉSE<br>
					<br>
					GLS General Logistics Systems Hungary Kft.&nbsp;<br>
					<br>
					KH 1095 Budapest, Lechner
				</p>
				<p dir="ltr">&nbsp;Ödön fasor
					9.<br>
					<br>
					Webnode AG Gartenstrasse 3, 6304 ZugSwitzerland<br>
					<br>
					12. COOKIE<br>
					<br>
					12.1. MI A COOKIE?<br>
					Cookie-k (magyarul:süti) alatt olyan kisméretű szöveges fájlokat értünk, amelyekben a
					weboldalak a látogatásokkal kapcsolatos információkat meghatározott ideig és célból
					tárolják. Az ismételt látogatások során a weboldal képes felismerni a szövegfájlt, ezáltal
					beazonosítva a korábbi látogatót.<br>
					<br>
					A cookie-k elsődleges funkciója, hogy kényelmesebbé, személyre szabottá tegyék a böngészést,
					hiszen segítségükkel eltárolhatjuk különböző személyes adatainkat, beállításainkat. A
					cookie-k segítségével jól célzott, személyre szabott reklámkampányok is megvalósíthatók.<br>
					<br>
					A www.stingerbaitboat.hu weboldal tekintettel a 2003. évi C. törvény 155.§ 4. bekezdésében
					foglaltaknak, miszerint "Egy előfizetőnek vagy felhasználónak elektronikus hírközlő
					végberendezésén csak az érintett felhasználó vagy előfizető világos és teljes körű - az
					adatkezelés céljára is kiterjedő - tájékoztatását követő hozzájárulása alapján lehet adatot
					tárolni, vagy az ott tárolt adathoz hozzáférni" a következő tájékoztatást adja az általa
					használt analitikai eszközökkel, azaz cookie-kkal kapcsolatban.<br>
					A Vállalkozás weboldalát a Wix portál segítségével hozta létre, a weboldal ennek motorját
					használja. A portál és a portál segítségével létrehozott oldalak a következőkben
					meghatározott cookie-kat használhatják, azonban Adatkezelő e cookie-kat saját maga nem
					használja fel semmilyen módon. A használt cookie-k az Érintett eszköze és a portál között
					kommunikálhatnak, az Adatkezelő számára semmilyen adatot nem továbbítanak, nem adnak át, így
					a használt cookie-k vonatkozásában a portál saját adatkezelési útmutatója az irányadó.<br>
					<br>
					12.2. COOKIE-K TÍPUSAI<br>
					A Vállalkozás weboldalán használatos cookie-kat 4 különböző kategóriába sorolhatjuk, a
					Nemzetközi Kereskedelmi Kamara osztályozásának megfelelően: működéshez feltétlenül
					szükséges, teljesítményt javító, egyéni beállításokat tároló, webanalitikai és hirdetések
					célzását szolgáló.<br>
					Típusai<br>
					a) Működéshez feltétlenül szükséges<br>
					A cookie-k ezen típusa teszi lehetővé a weboldalon történő böngészést. Ezen cookie-k nélkül
					a Vállalkozás weboldalán felkeresett tartalmak kiszolgálása (beleértve a biztonságos
					protokollok használatát) lehetetlenné válik.<br>
					Vállalkozás weboldala titkosított karakterláncot tartalmazó cookie segítségével azonosítja
					Önt a honlap használata közben. Valahányszor belép az Érintetti felületre, ezt az egyedi
					azonosítót tartalmazó cookie-t helyezünk a gépére. Például: session cookie<br>
					<br>
					Ezek a cookie-k feltétlenül szükségesek a weboldal működéséhez, így tiltásukra nincsen
					lehetőség.<br>
					<br>
					Kérjük, hogy ne használja tovább a Vállalkozás weboldalát, amennyiben nem szeretné, hogy
					ezen cookie-k a böngészőjében letöltésre kerüljenek.<br>
					<br>
					b) Teljesítményjavító<br>
					Ezek a cookie-k arról gyűjtenek információt, hogy a látogatók milyen módon használnak egy
					weboldalt. Például mely oldalait látogatják a leggyakrabban, hol ütköznek a látogatók
					hibaüzenetekbe.<br>
					Ezek a cookie-k nem tárolnak olyan információt, amellyel a látogatókat a weboldalak
					beazonosítanák. A segítségükkel gyűjtött információ kizárólag összesítve, névtelenül kerül
					felhasználásra. Céljuk a Vállalkozás weboldalán elérhető funkciók, felhasználói élmény
					javítása.<br>
					<br>
					A weboldal teljesítményéről adatot gyűjtő cookie-k a böngésző beállításainál letilthatók,
					törölhetők.<br>
					<br>
					c) Egyéni beállításokat tároló<br>
					Ezek a cookie-k teszik lehetővé a weboldalon használt felhasználói név, kiválasztott nyelvi
					preferencia eltárolását. Például egy weboldal képes lokális hírek kiszolgálására a látogató
					cookie-ban eltárolt földrajzi elhelyezkedése alapján. Ezek a cookie-k alkalmasak a
					megváltoztatott betűméret, illetve további hasonló beállítások eltárolására. A cookie-kban
					tárolt beállítások anonimek. A tárolt értékük az üzemeltető számára nem vezethetők vissza az
					egyes Érintettekhez.<br>
					<br>
					A személyes beállításokat eltároló cookie-k a böngésző beállításainál letilthatók,
					törölhetők.<br>
					<br>
					Ezen cookie típus tiltása hatással van a Vállalkozás weboldalának funkcióira, ezáltal a
					tapasztalt felhasználói élményre.<br>
					<br>
					d) Webanalitikai és hirdetések célzását szolgáló cookie-k<br>
					Ezek a cookie-k teszik lehetővé, hogy a látogatók az érdeklődésüknek megfelelő
					reklámüzenetekkel találkozzon. Annak ellenére, hogy a harmadik fél számára átadott
					információ nem tartalmaz személyes adatot, a látogatottsági adatok bizonyos esetekben
					visszavezethetőek az Érintettekhez.<br>
					<br>
					13. KÖZÖSSÉGI OLDALAK HASZNÁLATA<br>
					<br>
					Az információs önrendelkezési jogról és az információszabadságról szóló 2011. évi CXII.
					törvény 20. § (1) bekezdése alapján, meg kell határozni a közösségi oldalak adatkezelése
					körében a következőket:<br>
					a) az adatgyűjtés ténye,<br>
					b) az érintettek köre,<br>
					c) az adatgyűjtés célja,<br>
					d) az adatkezelés időtartama,<br>
					e) az adatok megismerésére jogosult lehetséges adatkezelők személye,<br>
					f) az érintettek adatkezeléssel kapcsolatos jogainak ismertetése.<br>
					<br>
					Az adatgyűjtés ténye, a kezelt adatok köre: Facebook/Youtube/Instagram stb. közösségi
					oldalakon regisztrált neve, illetve az Érintett nyilvános profilképe.<br>
					<br>
					Az érintettek köre: Azon természetes személyek, akik az Adatkezelő közösségi oldalait,
					különösen facebook.com közösségi oldalán lévő oldalt vagy azon megjelenő tartalmakat önként
					követik, megosztják, kedvelik.<br>
					<br>
					Az adatgyűjtés célja: A közösségi oldalakon, a weboldal egyes tartalmi elemeinek,
					termékeinek, akcióinak vagy magának a weboldalnak a megosztása, illetve "lájkolása",
					népszerűsítése.<br>
					<br>
					Az adatkezelés időtartama, az adatok törlésének határideje, az adatok megismerésére jogosult
					lehetséges adatkezelők személye és az érintettek adatkezeléssel kapcsolatos jogainak
					ismertetése: Az adatok forrásáról, azok kezeléséről, illetve az átadás módjáról, és
					jogalapjáról az adott közösségi oldalon tájékozódhat az érintett. Az adatkezelés a közösségi
					oldalakon valósul meg, így az adatkezelés időtartamára, módjára, illetve az adatok törlési
					és módosítási lehetőségeire az adott közösségi oldal szabályozása vonatkozik.<br>
					<br>
					Az adatkezelés jogalapja: az érintett önkéntes hozzájárulása személyes adatai kezeléséhez a
					közösségi oldalakon.<br>
					<br>
					Az Vállalkozás elérhető a Facebook és Instagram közösségi portálon, valamint más közösségi
					oldalakon.<br>
					A közösségi oldalak, azon belül is különösen a Facebook és Instagram oldal használata és az
					azon keresztül, az Adatkezelővel történő kapcsolatfelvétel, kapcsolattartás, és egyéb, a
					közösségi oldal által megengedett művelet önkéntes hozzájáruláson alapul.<br>
					<br>
					Adatkezelő az érintettekkel kizárólag akkor kommunikál, és így az adatok célja akkor válik
					lényegessé, ha az érintett a közösségi oldalon keresztül keresi meg az Adatkezelőt.<br>
					A közösségi portálokon, különösen a Facebook-on történő jelenlét és az azzal kapcsolatos
					adatkezelés célja a weboldalon található tartalmak közösségi oldalon történő megosztása,
					publikálása, marketingje. A közösségi oldal segítségével az érintett tájékozódhat a legújabb
					akciókról is.<br>
					<br>
					Érintett a közösségi oldal feltételei alapján önként hozzájárul az Adatkezelő tartalmainak
					követésével, kedveléséhez. Példálózó meghatározással élve, a Facebook oldalon található
					üzenő falon közzétett hírfolyamra az érintett az oldalon található "like"/ "tetszik" linkre
					kattintva iratkozhat fel, és ezzel hozzájárul az Adatkezelő híreinek és ajánlatainak
					közzétételéhez a saját üzenőfalán, és az ugyanitt található "dislike"/"nem tetszik" linkre
					kattintva iratkozhat le, továbbá az üzenő fal beállításai segítségével törölheti a nem
					kívánt, üzenő falon megjelenő hírfolyamokat.<br>
					<br>
					Érintett az Adatkezelőt szövegesen és számszerűen értékelheti, ha ezt a közösségi oldal
					lehetővé teszi.<br>
					<br>
					Adatkezelő közösségi oldalán, különösen Facebook oldalán képeket/videófelvételeket is
					közzétesz a különböző eseményekről, az Adatkezelő szolgáltatásairól, egyebekről. Adatkezelő
					a facebook oldalt összekapcsolhatja más közösségi oldalakkal a facebook.com közösségi portál
					szabályai szerint, így a facebook oldalon történő közzétételen érteni kell az ilyen kapcsolt
					közösségi portálokon történő közzétételt is.<br>
					<br>
					Amennyiben nem tömegfelvételről, vagy közéleti szereplésről készült felvételről van szó
					(Ptk. 2:48.§), Adatkezelő mindig kikéri az érintett írásbeli hozzájárulását a képek
					közzététele előtt.<br>
					Érintett az adott közösségi oldal adatkezeléséről tájékoztatást az adott közösségi oldalon
					kaphat, ennek megfelelően a Facebook oldal adatkezeléséről tájékoztatást a
					https://www.facebook.com/privacy/ címen kaphat, az Instagram oldal adatkezeléséről
					tájékoztatást <a
						href="https://help.instagram.com/519522125107875/?helpref=hc_fnav&bc[0]=Instagram%20Help&bc[1]=Privacy%20and%20Safety%20Center">ezen</a>
					címen kaphat.<br>
					Adatkezelés időtartama: érintett kérésére törlésig.<br>
					<br>
					14. PANASZKEZELÉS<br>
					<br>
					Kártérítés és sérelemdíj:<br>
					Vállalkozás az Érintett adatainak jogellenes kezelésével vagy az adatbiztonság
					követelményeinek megszegésével másnak okozott kárt megtéríti. Az Érintett személyiségi
					jogának megsértése esetén az érintett sérelemdíjat (Ptk. 2:52. §) követelhet.<br>
					Az Érintettel szemben a Vállalkozás felel az adatfeldolgozó által okozott kárért is.<br>
					A Vállalkozás mentesül a felelősség alól, ha a kárt az adatkezelés körén kívül eső
					elháríthatatlan ok idézte elő.<br>
					A Vállalkozás nem téríti meg a kárt és nem követelhető sérelemdíj annyiban, amennyiben a kár
					a károsult vagy a személyiségi jog megsértésével okozott jogsérelem az érintett szándékos
					vagy súlyosan gondatlan magatartásából származott.<br>
					<br>
					Panasz az adatvédelmi tisztviselőnél:<br>
					Amennyiben a Vállalkozás adatkezelésével kapcsolatban kérdése, problémája van, kérjük
					forduljon bizalommal adatvédelmi tisztviselőnkhöz.<br>
					<br>
					Adatvédelmi hatósági eljárás:<br>
					Panasszal a Nemzeti Adatvédelmi és Információszabadság Hatóságnál lehet élni:<br>
					Név: Nemzeti Adatvédelmi és Információszabadság Hatóság<br>
					Székhely: 1125 Budapest, Szilágyi Erzsébet fasor 22/C.<br>
					Levelezési cím: 1530 Budapest, Pf.: 5.<br>
					Telefon: 06.1.391.1400<br>
					Fax: 06.1.391.1410<br>
					E-mail:<br>
					ugyfelszolgalat@naih.huHonlap: https://www.naih.hu<br>
					<br>
					15.
				</p>
				<p>
					&nbsp;FELÜGYELELTI HATÓSÁG<br>
					<br>
					BUDAPEST, II KERÜLETI KORMÁNYHIVATAL<br>
					FOGYASZTÓVÉDELMI FELÜGYELŐSÉG<br>
					<br>
					Takács Ágnes<br>
					<br>
					Cím: 1024 Budapest, Margit krt. 47-49.<br>
					<br>
					Email: Takacs.Agnes@02kh.bfkh.gov.hu<br>
					<br>
					Email: fogyasztovedelem@02kh.bfkh.gov.hu<br>
					<br>
					Telefon: 06-1-896-2380<br>
					<br>
					Ügyfélfogadás: Hétfő: 13:30-18:00 Szerda: 08:00-16:30 Péntek: 08:00-11:30<br>
					<br>
					Jogorvoslati lehetőséggel, panasszal a Nemzeti Adatvédelmi és Információs Hatóságnál lehet élni:<br>
					Név: Nemzeti Adatvédelmi és Információs Hatóság<br>
					Székhely: 1125 Budapest Szilágyi Erzsébet fasor 22/c.<br>
					Postacím: 1530 Budapest, Pf.: 5.<br>
					Telefon: +36 (1) 391-1400<br>
					Fax: +36 (1) 391-1410<br>
					Honlap: https://naih.hu<br>
					<br>
					16. JOGI NYILATKOZAT A WEBOLDAL TARTALMÁRÓL<br>
					<br>
					ÁLTALÁNOS TÁJÉKOZTATÁS<br>
					<br>
					A https://www.stingerbaitboat.hu weboldalt (a továbbiakban: weboldal) Zolnai Enikő egyéni vállalkozó
					(a továbbiakban: Tulajdonos) üzemelteti.<br>
					<br>
					A weboldal használatának megkezdésével valamennyi felhasználó ráutaló magatartással elfogadja az
					alábbiakban meghatározott felhasználási és adatvédelmi feltételeket és szabályokat.<br>
					<br>
					SZERZŐI JOGOK<br>
					<br>
					A weboldal és az azon megjelenő műszaki, grafikai, szoftveres és egyéb megoldások, szövegek, képek,
					adatok, információk és egyéb anyagok, illetve azok elrendezése szerzői jogvédelem alá esnek, azok
					felhasználására és minden egyes felhasználás engedélyezésére kizárólag a Tulajdonos jogosult.<br>
					<br>
					A Tulajdonos előzetes írásbeli engedélye nélkül tilos a weboldalak tartalmának egészét vagy részeit
					bármilyen formában felhasználni, reprodukálni, átruházni, terjeszteni, átdolgozni, vagy tárolni. A
					Tulajdonos azonban beleegyezik az alábbi feltételek szerinti felhasználásba:<br>
					<br>
					A pontos https://www.stingerbaitboat.hu weboldal forrás megjelölésével és linken keresztüli
					hivatkozással,<br>
					<br>
					A WEBOLDAL TARTALMA<br>
					<br>
					A közölt adatok tartalmáért, azok betartásukért és annak következményeiért, valamint aktualitásáért
					a Tulajdonos nem vállal felelősséget. Az oldalon és a bejegyzésekben megjelentetett információk nem
					minősülnek hirdetésnek. A weboldalon található információk alapján hozott illetve az azokra
					alapozott üzleti döntésekből eredő károkért a Tulajdonos nem vállal felelősséget.<br>
					<br>
					A WEBOLDAL ELÉRÉSE<br>
					<br>
					A Tulajdonos fenntartja a jogot, hogy weboldalait bármikor módosítsa vagy átdolgozza, illetve
					elérhetőségüket korlátozza vagy megszüntesse. Tulajdnos nem garantálja, hogy a weboldalakhoz való
					hozzáférés folyamatos vagy hibamentes lesz. A weboldal, illetve az ott elérhető információk,
					dokumentációk, vagy más írott anyagok hozzáféréséből, illetve azok közvetett vagy közvetlen
					felhasználásából, a weboldal használatra alkalmatlan állapotából, vagy a nem megfelelő működésből,
					hiányosságból, esetleges üzemzavarból, vagy félreérhetőségből eredő károkért és/vagy veszteségért
					való felelősséget a Tulajdonos kifejezetten kizárja.<br>
					<br>
					KAPCSOLÓDÓ HONLAPOK<br>
					<br>
					A Tulajdonos weboldala tartalmazhat olyan kapcsolódási pontokat (ún. hiperlinkek vagy
					hiperhivatkozások), amelyek más internetes honlapokhoz nyújtanak automatikus kapcsolódási
					lehetőséget. Ezek a kapcsolódó honlapok esetenként harmadik személyek tulajdonában, kezelésében
					állnak.<br>
					<br>
					A kapcsolódó honlapokhoz a Tulajdonos weboldala csupán hozzáférést közvetít, azonban nem vállal
					semmilyen természetű kötelezettséget, felelősséget a honlapokért vagy az azokon elhelyezett
					információkért, abban az esetben sem, ha azokat a Tulajdonos valamely alkalmazottja, megbízottja
					átnézte vagy jóváhagyta.<br>
					<br>
					A Tulajdonos nem vállal felelősséget olyan, harmadik fél által létrehozott, továbbított, tárolt,
					hozzáférhetővé tett, vagy publikált tartalmakért, melyekhez Tulajdonos weboldalai kapcsolódnak, vagy
					amelyekre hivatkoznak.<br>
					<br>
					JOGKÖVETKEZMÉNYEK<br>
					<br>
					A jelen jogi nyilatkozatban foglaltak megsértése esetén a Tulajdonos haladéktalanul megteszi a
					szükséges jogi lépéseket, legyen az polgári jogi, és büntetőjogi vagy egyéb vonatkozású.<br>
					<br>
					A jelen nyilatkozatban nem szabályozott kérdésekben az elektronikus kereskedelmi szolgáltatások,
					valamint az információs társadalommal összefüggő szolgáltatások egyes kérdéseiről szóló 2001. évi
					CVIII. törvény rendelkezéseit kell alkalmazni.<br>
					<br>
					A JOGI NYILATKOZAT MEGVÁLTOZATÁSA<br>
					<br>
					A Tulajdonos fenntartja jelen Jogi Nyilatkozat megváltoztatásának jogát, amelyeket saját
					hatáskörében eszközöl, de erről minden esetben a weboldal ezen részén értesíti felhasználóit.<br>
					<br>
					Zolnai Enikő<br>
					<br>
					Budapest, 2021. Április 26.
				</p>
			</div>
		</div>
	</div>
</div>