<div class="wrapper">
	<div class="page-header page-header-xs" data-parallax="true"
		style="background-image: url('./assets/img/delivery.jpg');">
		<div class="title">
			<h2>Rendelés</h2>
		</div>
		<div class="filter"></div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row main">
				<div class="container boat">
					<div>
						<h3>Hajó</h3>
						<p class="subtitle">Válaszd ki milyen felszereltségű modellt szeretnél. A hajók
							összehasonlítását <a [routerLink]="['/index']" routerLinkActive="active"
								fragment="hajok">itt</a> találod, illetve a nevükre kattintva részletesebb információ is
							elérhető.
						</p>
					</div>
					<div class="grp">
						<div class="row">
							<div class="col-sm">
								<a [routerLink]="['/hajo/basic']" routerLinkActive="active">
									<h5>Stinger Titán Basic</h5>
								</a>
								<img src="./assets/img/titan1.png" alt="Circle Image"
									class="img-circle img-no-padding img-responsive" referrerPolicy="no-referrer">
								<p class="price">260,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="boatRadio" id="Beluga Basic"
										checked (change)="onBoatChange($event)" value="260000"
										[disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<a [routerLink]="['/hajo/medium']" routerLinkActive="active">
									<h5>Stinger Titán Medium</h5>
								</a>
								<img src="./assets/img/titan3.png" alt="Circle Image"
									class="img-circle img-no-padding img-responsive" referrerPolicy="no-referrer">
								<p class="price">290,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="boatRadio" id="Beluga Medium"
										(change)="onBoatChange($event)" value="290000" [disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<a [routerLink]="['/hajo/max']" routerLinkActive="active">
									<h5>Stinger Titán BL Max</h5>
								</a>
								<img src="./assets/img/titan4.png" alt="Circle Image"
									class="img-circle img-no-padding img-responsive" referrerPolicy="no-referrer">
								<p class="price">320,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="boatRadio" id="Beluga Max"
										(change)="onBoatChange($event)" value="320000" [disabled]="orderProcessed">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container color">
					<div>
						<h3>Szín</h3>
						<p class="subtitle">Válaszd ki a számodra legmegfelelőbb színkombinációt, vagy kérj akár
							teljesen egyedi, 2K vagy VTN fényezést.</p>
						<p class="subtitle">Ne feledd, a szín nem csak esztétikai, de láthatósági szempontból is fontos!
						</p>
					</div>
					<div class="grp">
						<div class="row">
							<div class="col-sm">
								<span class="dot" style="background-color: white"></span>
								<p class="price">0 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="colorRadio" id="Fehér" checked
										(change)="onColorChange($event)" value="0" [disabled]="orderProcessed">
								</div>
							</div>
							<!-- <div class="col-sm">
								<span class="dot" style="background-color: black"></span>
								<span class="dot" style="background-color: white"></span>
								<span class="dot" style="background-color: black"></span>
								<p class="price">0 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="colorRadio"
										(change)="onColorChange($event)" id="Fekete-fehér-fekete" value="0"
										[disabled]="orderProcessed">
								</div>
							</div> -->
							<div class="col-sm">
								<h5>2K autófényezés*</h5>
								<p class="price">40,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="colorRadio" id="2K"
										(change)="onColorChange($event)" value="40000" [disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<h5>Egyedi VTN</h5>
								<p class="price">40,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="colorRadio" id="Egyedi VTN"
										(change)="onColorChange($event)" value="40000" [disabled]="orderProcessed">
								</div>
							</div>
						</div>
					</div>
				</div>
				<p>*2K fényezésnél bármilyen színkód, minta kérhető.</p>

				<div class="container radar">
					<div>
						<h3>Radar</h3>
						<p class="subtitle">Az etetőhajó önmagában is egy nagyon hasznos eszköz, de igazán jól egy
							minőségi halradarral
							együtt használható.</p>
						<p class="subtitle">A Toslon radarok tökéletes képet adnak a vízfenékről, így biztosan oda
							juttathatod el a
							szereléket, ahol szerinted a legnagyobb eséllyel található hal. </p>
						<p class="subtitle">A radarok ára tartalmazza a beszerelés költségét, illetve álványt, táskát és
							li-po akkumulátort a radarhoz.</p>
						<p class="subtitle">Ha többet szeretnél tudni a radarokról,<a [routerLink]="['/radarok']"
								routerLinkActive="active"> kattints ide.</a></p>
					</div>
					<div class="grp">
						<div class="row">
							<div class="col-sm-2">
								<h5>Nem kérem</h5>
								<p class="price">0 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="boatRadar" id="Radar nélkül"
										(change)="onRadarChange($event)" value="0" checked [disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm-5">
								<h5>Toslon Tf 520</h5>
								<img src="./assets/img/tf520.jpg" alt="Circle Image"
									class="img-circle img-no-padding img-responsive" referrerPolicy="no-referrer">
								<p class="price">250,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="boatRadar" id="Toslon Tf 520"
										(change)="onRadarChange($event)" value="250000" [disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm-5">
								<h5>Toslon Tf 640 + GPS</h5>
								<img src="./assets/img/tf640.jpg" alt="Circle Image"
									class="img-circle img-no-padding img-responsive" referrerPolicy="no-referrer">
								<p class="price">350,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="boatRadar" id="Toslon Tf 640"
										(change)="onRadarChange($event)" value="350000" [disabled]="orderProcessed">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container autopilot">
					<div>
						<h3>Autopilot</h3>
						<p class="subtitle">Táviranyíthatóba építhető autopilot rendszer, amely 6 etetési helyet képes
							tárolni és ezekre visszatalálni.</p>
						<p class="subtitle">További infóért az autopilotról<a [routerLink]="['/autopilot']"
								routerLinkActive="active"> kattints ide.</a></p>
					</div>
					<div class="grp">
						<div class="row">
							<div class="col-sm">
								<h5>Nem kérem</h5>
								<p class="price">0 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="boatPilot" id="Nem kérem"
										(change)="onAutopilotChange($event)" value="0" checked
										[disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<h5>Félautomata</h5>
								<p class="price">70,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="boatPilot" id="Félautomata"
										(change)="onAutopilotChange($event)" value="70000" [disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<h5>Automata</h5>
								<p class="price">120,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="boatPilot" id="Automata"
										(change)="onAutopilotChange($event)" value="120000" [disabled]="orderProcessed">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container battery">
					<div>
						<h3>Pót akkumulátor</h3>
						<p class="subtitle">Többen horgásznátok egyszerre a hajóval?</p>
						<p class="subtitle">Esetleg nem lesz áram a több napos peca során?</p>
						<p class="subtitle">Válassz egy pót akkumulátort, hogy biztosan ne merülj le a horgászat közben!
						</p>
					</div>
					<div class="grp">
						<div class="row">
							<div class="col-sm">
								<h5>Nem kérem</h5>
								<p class="price">0 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="battery" id="Nem kérem"
										(change)="onBatteryChange($event)" value="0" checked
										[disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<h5>5000mhA</h5>
								<p class="price">25,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="battery" id="5000mhA"
										(change)="onBatteryChange($event)" value="25000" [disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<h5>6200mhA</h5>
								<p class="price">30,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="battery" id="6200mhA"
										(change)="onBatteryChange($event)" value="30000" [disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<h5>8000mhA</h5>
								<p class="price">35,000 Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="battery" id="8000mhA"
										(change)="onBatteryChange($event)" value="35000" [disabled]="orderProcessed">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container others">
					<div>
						<h3>Egyéb</h3>
						<p class="subtitle">Hasznos kiegészítők, melyek segítenek a tájékozódásban és a hajód
							állapotának megőrzésében.
						</p>
					</div>
					<div class="grp">
						<div class="row">
							<div class="col-sm">
								<h5>{{bag.name}}</h5>
								<p class="price">{{bag.price | number:'1.0-0'}} Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" (change)="toggleBag()"
										[disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<h5>{{light.name}}</h5>
								<p class="price">{{light.price | number:'1.0-0'}} Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" (change)="toggleLight()"
										[disabled]="orderProcessed">
								</div>
							</div>
							<div class="col-sm">
								<h5>{{seaweed.name}}</h5>
								<p class="price">{{seaweed.price | number:'1.0-0'}} Ft</p>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" (change)="toggleSeaweed()"
										[disabled]="orderProcessed">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div *ngIf="!isGlobalSale" class="container coupons">
					<div>
						<h3>Kupon</h3>
						<p class="subtitle">Amennyiben rendelkezel aktív kupon kóddal, itt tudod megadni a kedvezmény
							érvényesítéséhez.
						</p>
					</div>
					<div class="grp">
						<div class="row">
							<div class="col-sm">
								<div class="coupon-div">
									<div><input type="text" (input)="parseCoupon($event)" [disabled]="orderProcessed">
									</div>
									<div><button (click)="onCouponSubmitted()" [disabled]="orderProcessed"
											class="btn btn-danger btn-block btn-round nav-link">Aktiválás</button></div>
									<div *ngIf="couponMessage">{{couponMessage}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container summary">
					<div>
						<h3>Kosár</h3>
						<p class="subtitle">Az alábbi termékeket választottad ki.</p>
					</div>
					<div class="grp">
						<div class="col">
							<div class="row text-start">
								<div>
									<h5 class="basket">Hajó</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-8 text-start">
									<p>{{boat.name}}</p>
								</div>
								<div class="col-4 text-end">
									<p>{{boat.price | number:'1.0-0'}} Ft</p>
								</div>
							</div>
							<div class="row text-start">
								<div>
									<h5 class="basket">Szín</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-8 text-start">
									<p>{{color.name}}</p>
								</div>
								<div class="col-4 text-end">
									<p>{{color.price | number:'1.0-0'}} Ft</p>
								</div>
							</div>
							<div class="row text-start" *ngIf="radar.price != 0">
								<div>
									<h5 class="basket">Radar</h5>
								</div>
							</div>
							<div class="row" *ngIf="radar.price != 0">
								<div class="col-8 text-start">
									<p>{{radar.name}}</p>
								</div>
								<div class="col-4 text-end">
									<p>{{radar.price | number:'1.0-0'}} Ft</p>
								</div>
							</div>
							<div class="row text-start" *ngIf="autopilot.price != 0">
								<div>
									<h5 class="basket">Autopilot</h5>
								</div>
							</div>
							<div class="row" *ngIf="autopilot.price != 0">
								<div class="col-8 text-start">
									<p>{{autopilot.name}}</p>
								</div>
								<div class="col-4 text-end">
									<p>{{autopilot.price | number:'1.0-0'}} Ft</p>
								</div>
							</div>
							<div class="row text-start" *ngIf="battery.price != 0">
								<div>
									<h5 class="basket">Pót akkumulátor</h5>
								</div>
							</div>
							<div class="row" *ngIf="battery.price != 0">
								<div class="col-8 text-start">
									<p>{{battery.name}}</p>
								</div>
								<div class="col-4 text-end">
									<p>{{battery.price | number:'1.0-0'}} Ft</p>
								</div>
							</div>
							<div class="row text-start" *ngIf="bagChecked || lightChecked || seaweedChecked">
								<div>
									<h5 class="basket">Egyéb</h5>
								</div>
							</div>
							<div class="row" *ngIf="bagChecked">
								<div class="col-8 text-start">
									<p>{{bag.name}}</p>
								</div>
								<div class="col-4 text-end">
									<p>{{bag.price | number:'1.0-0'}} Ft</p>
								</div>
							</div>
							<div class="row" *ngIf="lightChecked">
								<div class="col-8 text-start">
									<p>{{light.name}}</p>
								</div>
								<div class="col-4 text-end">
									<p>{{light.price | number:'1.0-0'}} Ft</p>
								</div>
							</div>
							<div class="row" *ngIf="seaweedChecked">
								<div class="col-8 text-start">
									<p>{{seaweed.name}}</p>
								</div>
								<div class="col-4 text-end">
									<p>{{seaweed.price | number:'1.0-0'}} Ft</p>
								</div>
							</div>
							<div class="row total-price">
								<div class="col text-start">
									<h5 class="basket">Összesen {{discount ? '(-' + discount + '%
										kedvezménnyel)' :
										''}}</h5>
								</div>
								<div class="col text-end">
									<h5>{{discount ? discountedPrice : totalPrice | number:'1.0-0'}} Ft</h5>
								</div>
							</div>
						</div>
					</div>
					<div>
						<br>
						<p *ngIf="!orderProcessed">A rendelés véglegesítéséhez kérlek add meg az alábbi adatokat.</p>

						<div *ngIf="!orderProcessed; else orderComplete" class="form-wrapper">
							<form>
								<div class="form-group">
									<label for="nameInput">Név</label>
									<input type="text" class="form-control" id="nameInput"
										[ngClass]="{'invalid-input' : showSubmitError && !name}"
										(input)="nameUpdated($event)" placeholder="Add meg a nevedet" required>
								</div>
								<div class="form-group">
									<label for="emailInput">Email</label>
									<input type="email" class="form-control" id="emailInput"
										[ngClass]="{'invalid-input' : showSubmitError && !email}"
										(input)="emailUpdated($event)" aria-describedby="emailHelp"
										placeholder="Add meg az email címed" required>
									<small id="emailHelp" class="form-text text-muted">Kérlek ellenőrizd a helyességét,
										ide
										fogjuk küldeni a további tudnivalókat.</small>
								</div>
								<div class="form-group">
									<label for="addressInput">Szállítási cím</label>
									<input type="text" class="form-control" id="addressInput"
										[ngClass]="{'invalid-input' : showSubmitError && !address}"
										(input)="addressUpdated($event)" placeholder="Add meg hová küldhetjük a hajót"
										required>
								</div>
								<div class="form-check">
									<label for="phoneInput">Telefon</label>
									<input type="tel" class="form-control" id="phoneInput"
										[ngClass]="{'invalid-input' : showSubmitError && !phone}"
										(input)="phoneUpdated($event)" placeholder="Add meg a telefon számod" required>
								</div>
								<div class="button-wrapper">
									<span class="submit-error" *ngIf="showSubmitError && !canSubmitOrder">
										Kérlek add meg a fenti adatokat!</span>
									<div><button type="submit" (click)="order()"
											[ngClass]="{'button-inactive' : !canSubmitOrder}"
											class="btn btn-danger btn-block btn-round nav-link">Rendelés</button></div>
								</div>
							</form>
						</div>
						<ng-template #orderComplete>
							<div>
								<p class="complete-order">Köszönjük a megrendelést, elküldtük a megerősítő emailt, amely
									minden fontos információt tartalmaz.</p>
							</div>
						</ng-template>
						<br>
						<div *ngIf="!orderProcessed" class="caveat">
							<p>A fizetés mindig két részletben történik, az első részletet előre kell
								utalni!</p>
							<p>A második részlet minden esetben 60 ezer forint, amit az átvételnél kell
								kifizetni!</p>
							<p>Rendelés után erről egy e-mailt küldünk, amiben benne van minden információ.</p>
							<p>A pénz beérkezésére 3 munkanap áll rendelkezésre, különben a rendelés törlődik!</p>
							<p>Bármilyen kérdéssel hívjon bizalommal: +36-30/349-54-77</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>