<div class="wrapper">
    <div class="main">
        <div class="container">
            <div class="text-center">
                <h3>Készlet</h3>
            </div>
            <div class="table-responsive">
                <table class="table" style="text-align: center">
                    <thead>
                        <tr>
                            <th scope="col" class="col-md-4">Név</th>
                            <th scope="col" class="col-md-2">Beluga</th>
                            <th scope="col" class="col-md-2">Készlet</th>
                            <th scope="col" class="col-md-2">Határérték</th>
                            <th scope="col" class="col-md-2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of sortBy('name')">
                            <tr class="item-row" [class.low-count]="+item.count < +item.threshold">
                                <td>
                                    <p>{{item.name}} </p>
                                </td>
                                <td>
                                    <p *ngIf="item.belugaReq > 0 && !isBeingEdited(item.id)">{{item.belugaReq}}</p>
                                    <input *ngIf="item.belugaReq > 0 && isBeingEdited(item.id)" [value]="item.belugaReq"
                                        (input)="parseBelugaCount($event)" type="number" />
                                </td>
                                <td>
                                    <p *ngIf="!isBeingEdited(item.id)">{{item.count}}</p>
                                    <input *ngIf="isBeingEdited(item.id)" [value]="item.count"
                                        (input)="parseCount($event)" type="number" />
                                </td>
                                <td>
                                    <p *ngIf="!isBeingEdited(item.id)">{{item.threshold}}</p>
                                    <input *ngIf="isBeingEdited(item.id)" [value]="item.threshold"
                                        (input)="parseThreshold($event)" type="number" />
                                </td>
                                <td>
                                    <i *ngIf="!isBeingEdited(item.id)" class="fa fa-pencil" style="color:orange"
                                        (click)="onEdit(item)" data-toggle="tooltip" data-placement="top"
                                        title="Szerkesztés"></i>
                                    <i *ngIf="isBeingEdited(item.id)" class="fa fa-download" style="color:green"
                                        (click)="onSave()" data-toggle="tooltip" data-placement="top"
                                        title="Mentés"></i>
                                    <i *ngIf="isBeingEdited(item.id)" class="fa fa-ban" style="color:orange"
                                        (click)="onCancel()" data-toggle="tooltip" data-placement="top"
                                        title="Elvetés"></i>
                                    <i *ngIf="!isBeingEdited(item.id)" class="fa fa-trash" style="color:red"
                                        (click)="onDelete(item.id)" data-toggle="tooltip" data-placement="top"
                                        title="Törlés"></i>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>


                <div *ngIf="this.itemToCreate" class="new-item">
                    <div class="text-center" style="display:block; margin: 0">
                        <h3 style="margin: 0">Új alkatrész felvétele</h3>
                        <br>
                    </div>
                    <div>
                        <p class="edit-title"><strong>Név:</strong></p>
                        <input (input)="parseNewName($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Beluga:</strong></p>
                        <input (keyuinputp)="parseNewBelugaCount($event)" type="number" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Készlet:</strong></p>
                        <input (input)="parseNewCount($event)" type="number" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Határérték:</strong></p>
                        <input (input)="parseNewThreshold($event)" type="number" />
                    </div>
                    <div class="item-actions">
                        <i class="fa fa-download" style="color:green" (click)="onSaveNew()" data-toggle="tooltip"
                            data-placement="top" title="Mentés"></i>
                        <i class="fa fa-ban" style="color:orange" (click)="onCancelNew()" data-toggle="tooltip"
                            data-placement="top" title="Elvetés"></i>
                    </div>
                </div>
                <i *ngIf="!this.itemToCreate" class="fa fa-plus" style="color:green" (click)="onCreate()"
                    data-toggle="tooltip" data-placement="top" title="Új kép"></i>
            </div>
        </div>
    </div>
</div>