.main {
    margin-top: 10vh;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0px;
}

.table {
    margin-top: 18px;
}

table tbody tr {
    border: 1px solid lightgray;

    p {
        margin-bottom: 0 !important;
    }
}

.fa {
    cursor: pointer;
    font-size: 16px;
    margin-right: 6px;
}

.low-count {
    background: rgba(255, 0, 0, 0.20);
}

.new-item {
    border: 1px solid lightgray;
    padding: 12px;

    >div {
        display: flex;
        margin-bottom: 12px;
        align-items: center;

        p {
            margin-right: 12px;
            margin-bottom: 0;
        }
    }
}