<div class="wrapper">
    <div class="main">
        <div class="container">
            <div class="text-center">
                <h3>Folyamatban lévő</h3>
            </div>
            <div style="margin-top: 20px">
                <p *ngIf="findActive(orders).length === 0; else activeOrders">Jelenleg nincs folyamatban lévő rendelés.
                </p>
                <ng-template #activeOrders>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th scope="col" class="col-md-4">Név</th>
                                    <th scope="col" class="col-md-4">Hajó</th>
                                    <th scope="col" class="col-md-4">Rendelés</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let order of findActive(orders)">
                                    <tr class="order-row" (click)="onView(order.id)">
                                        <td>
                                            <p>{{order.name}} </p>
                                        </td>
                                        <td>
                                            <p>{{order.boat}}</p>
                                        </td>
                                        <td>
                                            <p>{{order.orderDate | date:'yyyy-MM-dd'}} </p>
                                        </td>
                                    </tr>
                                    <tr *ngIf="expandedOrder === order.id">
                                        <ng-container *ngTemplateOutlet="editableRow;context:{order: order}">
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </ng-template>




                <div *ngIf="this.orderToCreate" class="new-order">
                    <div class="text-center" style="display:block; margin: 0">
                        <h3 style="margin: 0">Új rendelés felvétele</h3>
                    </div>
                    <div>
                        <p class="edit-title"><strong>Név:</strong></p>
                        <input (input)="parseNewName($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Telefon:</strong></p>
                        <input (input)="parseNewPhone($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Email:</strong></p>
                        <input (input)="parseNewEmail($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Cím:</strong></p>
                        <input (input)="parseNewAddress($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Hajó:</strong></p>
                        <input (input)="parseNewBoat($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Ár:</strong></p>
                        <input type="number" (input)="parseNewPrice($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Szín:</strong></p>
                        <input (input)="parseNewColor($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Radar:</strong></p>
                        <input (input)="parseNewRadar($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Autópilóta:</strong></p>
                        <input (input)="parseNewAutopilot($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Akkumulátor:</strong></p>
                        <input (input)="parseNewBattery($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Hínárvédő:</strong></p>
                        <input type="checkbox" (change)="parseNewSeaweed($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Táska:</strong></p>
                        <input type="checkbox" (change)="parseNewBag($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Reflektor:</strong></p>
                        <input type="checkbox" (change)="parseNewLight($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Rendelés:</strong></p>
                        <dp-date-picker theme="dp-material" [config]="config"
                            (onChange)="parseNewOrderDate($event)"></dp-date-picker>
                    </div>
                    <div>
                        <p class="edit-title"><strong>Teljesítés:</strong></p>
                        <dp-date-picker theme="dp-material" [config]="config"
                            (onChange)="parseNewFulfilledDate($event)"></dp-date-picker>
                    </div>
                    <div>
                        <p class="edit-title"><strong>Garancia:</strong></p>
                        <dp-date-picker theme="dp-material" [config]="config"
                            (onChange)="parseNewWarrantyDate($event)"></dp-date-picker>
                    </div>
                    <div>
                        <p class="edit-title"><strong>Első éves karbantartás:</strong></p>
                        <input type="checkbox" (change)="parseNewFirstWarranty($event)" />
                    </div>
                    <div>
                        <p class="edit-title"><strong>Második éves karbantartás:</strong>
                        </p>
                        <input type="checkbox" (change)="parseNewSecondWarranty($event)" />
                    </div>
                    <div class="order-actions">
                        <i class="fa fa-download" style="color:green" (click)="onSaveNew()" data-toggle="tooltip"
                            data-placement="top" title="Mentés"></i>
                        <i class="fa fa-ban" style="color:orange" (click)="onCancelNew()" data-toggle="tooltip"
                            data-placement="top" title="Elvetés"></i>
                    </div>
                </div>
                <i *ngIf="!this.orderToCreate" class="fa fa-plus" style="color:green" (click)="onCreate()"
                    data-toggle="tooltip" data-placement="top" title="Új rendelés"></i>



                <div class="text-center">
                    <h3>Garanciális</h3>
                </div>
                <div style="margin-top: 20px">
                    <p *ngIf="findFulfilled(orders).length === 0; else fulfilledOrders">Jelenleg nincs teljesített, még
                        garanciális
                        rendelés.
                    </p>
                    <ng-template #fulfilledOrders>
                        <div class="table-responsive">
                            <table class="table" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-md-4">Név</th>
                                        <th scope="col" class="col-md-4">Hajó</th>
                                        <th scope="col" class="col-md-4">Teljesítés</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let order of findFulfilled(orders)">
                                        <tr class="order-row" (click)="onView(order.id)">
                                            <td>
                                                <p>{{order.name}} </p>
                                            </td>
                                            <td>
                                                <p>{{order.boat}}</p>
                                            </td>
                                            <td>
                                                <p>{{order.fulfilledDate | date:'yyyy-MM-dd'}} </p>
                                            </td>
                                        </tr>
                                        <tr *ngIf="expandedOrder === order.id">
                                            <ng-container *ngTemplateOutlet="editableRow;context:{order: order}">
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>




                <div class="text-center">
                    <h3 style="margin-bottom:0">Karbantartás aktuális</h3>
                    <p>(Kevesebb, mint 2 hónap van hátra az első vagy másod éves garancia lejártáig)</p>
                </div>
                <div style="margin-top: 20px">
                    <p *ngIf="findWarrantyIssues(orders).length === 0; else warrantyIssues">Jelenleg nincs
                        karbantartásra szoruló hajó.
                    </p>
                    <ng-template #warrantyIssues>
                        <div class="table-responsive">
                            <table class="table" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-md-4">Név</th>
                                        <th scope="col" class="col-md-4">Hajó</th>
                                        <th scope="col" class="col-md-4">Teljesítés</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let order of findWarrantyIssues(orders)">
                                        <tr class="order-row" (click)="onViewWarr(order.id)">
                                            <td>
                                                <p>{{order.name}} </p>
                                            </td>
                                            <td>
                                                <p>{{order.boat}}</p>
                                            </td>
                                            <td>
                                                <p>{{order.fulfilledDate | date:'yyyy-MM-dd'}} </p>
                                            </td>
                                        </tr>
                                        <tr *ngIf="expandedWarrantyOrder === order.id">
                                            <td colspan="3" class="edit-td">
                                                <div>
                                                    <p class="edit-title"><strong>Név:</strong></p>
                                                    <p class="value">{{order.name}}</p>
                                                </div>
                                                <div>
                                                    <p class="edit-title"><strong>Telefon:</strong></p>
                                                    <p class="value">{{order.phone}}</p>
                                                </div>
                                                <div>
                                                    <p class="edit-title"><strong>Email:</strong></p>
                                                    <p class="value">{{order.email}}</p>
                                                </div>
                                                <div>
                                                    <p class="edit-title"><strong>Cím:</strong></p>
                                                    <p class="value">{{order.address}}</p>
                                                </div>
                                                <div>
                                                    <p class="edit-title"><strong>Hajó:</strong></p>
                                                    <p class="value">{{order.boat}}</p>
                                                </div>
                                                <div>
                                                    <p class="edit-title"><strong>Rendelés:</strong></p>
                                                    <p>{{order.orderDate | date:'yyyy-MM-dd'}} </p>
                                                </div>
                                                <div>
                                                    <p class="edit-title"><strong>Teljesítés:</strong></p>
                                                    <p>{{order.fulfilledDate | date:'yyyy-MM-dd'}} </p>
                                                </div>
                                                <div>
                                                    <p class="edit-title"><strong>Garancia:</strong></p>
                                                    <p>{{order.warrantyDate | date:'yyyy-MM-dd'}} </p>
                                                </div>
                                                <div *ngIf="firstYearWarrantyExpired(order)">
                                                    <p class="edit-title"><strong>Első éves karbantartás:</strong></p>
                                                    <p class="value">Eltelt 1 év
                                                        a rendelés teljesítése óta.&nbsp;&nbsp;</p>
                                                    <i class="fa fa-check" style="color: green; margin-left: 8px"
                                                        (click)="onFirstWarrantyOk(order)" data-toggle="tooltip"
                                                        data-placement="top" title="Átvizsgálva"></i>
                                                </div>
                                                <div *ngIf="secondYearWarrantyExpired(order)">
                                                    <p class="edit-title"><strong>Második éves karbantartás:</strong>
                                                    </p>
                                                    <p *ngIf="secondYearWarrantyExpired(order)" class="value">Eltelt 2
                                                        év a rendelés teljesítése óta.&nbsp;&nbsp;</p>
                                                    <i class="fa fa-check" style="color: green"
                                                        (click)="onSecondWarrantyOk(order)" data-toggle="tooltip"
                                                        data-placement="top" title="Átvizsgálva"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>

                <div class="text-center">
                    <h3>Lejárt garancia</h3>
                </div>
                <div style="margin-top: 20px">
                    <p *ngIf="findExpiredWarranty(orders).length === 0; else outOfWarranty">Jelenleg nincs lejárt
                        garanciájú rendelés.
                    </p>
                    <ng-template #outOfWarranty>
                        <div class="table-responsive">
                            <table class="table" style="text-align: center;">
                                <thead>
                                    <tr>
                                        <th scope="col" class="col-md-4">Név</th>
                                        <th scope="col" class="col-md-4">Hajó</th>
                                        <th scope="col" class="col-md-4">Teljesítés</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let order of findExpiredWarranty(orders)">
                                        <tr class="order-row" (click)="onView(order.id)">
                                            <td>
                                                <p>{{order.name}} </p>
                                            </td>
                                            <td>
                                                <p>{{order.boat}}</p>
                                            </td>
                                            <td>
                                                <p>{{order.fulfilledDate | date:'yyyy-MM-dd'}} </p>
                                            </td>
                                        </tr>
                                        <tr *ngIf="expandedOrder === order.id">
                                            <ng-container *ngTemplateOutlet="editableRow;context:{order: order}">
                                            </ng-container>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>

    <ng-template #editableRow let-order="order">
        <td colspan="3" class="edit-td">
            <div>
                <p class="edit-title"><strong>Név:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.name}}</p>
                <input *ngIf="orderToEdit" [value]="order.name" (input)="parseName($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Telefon:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.phone}}</p>
                <input *ngIf="orderToEdit" [value]="order.phone" (input)="parsePhone($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Email:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.email}}</p>
                <input *ngIf="orderToEdit" [value]="order.email" (input)="parseEmail($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Cím:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.address}}</p>
                <input *ngIf="orderToEdit" [value]="order.address" (input)="parseAddress($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Hajó:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.boat}}</p>
                <input *ngIf="orderToEdit" [value]="order.boat" (input)="parseBoat($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Ár:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.price | number:'1.0-0'}}
                    Ft</p>
                <input *ngIf="orderToEdit" [value]="order.price" (input)="parsePrice($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Szín:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.color}}</p>
                <input *ngIf="orderToEdit" [value]="order.color" (input)="parseColor($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Radar:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.radar}} </p>
                <input *ngIf="orderToEdit" [value]="order.radar" (input)="parseRadar($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Autopilot:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.autopilot}}</p>
                <input *ngIf="orderToEdit" [value]="order.autopilot" (input)="parseAutopilot($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Akkumulátor:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{order.battery}}</p>
                <input *ngIf="orderToEdit" [value]="order.battery" (input)="parseBattery($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Hínárvédő:</strong></p>
                <input [disabled]="!orderToEdit" [checked]="order.seaweed" type="checkbox"
                    (change)="parseSeaweed($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Táska:</strong></p>
                <input [disabled]="!orderToEdit" [checked]="order.bag" type="checkbox" (change)="parseBag($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Reflektor:</strong></p>
                <input [disabled]="!orderToEdit" [checked]="order.light" type="checkbox"
                    (change)="parseLight($event)" />
            </div>
            <div>
                <p class="edit-title"><strong>Kupon kód:</strong></p>
                <p class="value">{{order.coupon}}</p>
            </div>
            <div>
                <p class="edit-title"><strong>Kedvezmény:</strong></p>
                <p class="value">{{order.discount}}%</p>
            </div>
            <div>
                <p class="edit-title"><strong>Rendelés:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{ order.orderDate !== null ?
                    (order.orderDate | date:'yyyy-MM-dd') : "-"}} </p>
                <dp-date-picker *ngIf="orderToEdit" theme="dp-material" [config]="config" [placeholder]="order.orderDate !== null ?
                    (order.orderDate | date:'yyyy-MM-dd') : '-'" [displayDate]="order.orderDate !== null ?
                    (order.orderDate | date:'yyyy-MM-dd') : '-'" (onChange)="parseOrderDate($event)"></dp-date-picker>
            </div>
            <div>
                <p class="edit-title"><strong>Teljesítés:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{ order.fulfilledDate !== null ?
                    (order.fulfilledDate | date:'yyyy-MM-dd') : "-"}}</p>
                <dp-date-picker *ngIf="orderToEdit" theme="dp-material" [config]="config" [displayDate]="order.fulfilledDate !== null ?
                    (order.fulfilledDate | date:'yyyy-MM-dd') : '-'" [placeholder]="order.fulfilledDate !== null ?
                    (order.fulfilledDate | date:'yyyy-MM-dd') : '-'"
                    (onChange)="parseFulfilledDate($event)"></dp-date-picker>
            </div>
            <div>
                <p class="edit-title"><strong>Garancia:</strong></p>
                <p *ngIf="!orderToEdit" class="value">{{ order.warrantyDate !== null ?
                    (order.warrantyDate | date:'yyyy-MM-dd') : "-"}}</p>
                <dp-date-picker *ngIf="orderToEdit" theme="dp-material" [config]="config" [placeholder]="order.warrantyDate !== null ?
                    (order.warrantyDate | date:'yyyy-MM-dd') : '-'" [displayDate]="order.warrantyDate !== null ?
                    (order.warrantyDate | date:'yyyy-MM-dd') : '-'"
                    (onChange)="parseWarrantyDate($event)"></dp-date-picker>
            </div>
            <div *ngIf="order.fulfilledDate">
                <p class="edit-title"><strong>Első éves karbantartás:</strong></p>
                <input [disabled]="!orderToEdit" [checked]="order.warrantyFirst" type="checkbox"
                    (change)="parseFirstWarranty($event)" />
            </div>
            <div *ngIf="order.fulfilledDate">
                <p class="edit-title"><strong>Második éves karbantartás:</strong>
                </p>
                <input [disabled]="!orderToEdit" [checked]="order.warrantySecond" type="checkbox"
                    (change)="parseSecondWarranty($event)" />
            </div>
            <div class="order-actions">
                <i *ngIf="!orderToEdit && !order.fulfilledDate" class="fa fa-check" style="color: green"
                    (click)="onFulfill(order)" data-toggle="tooltip" data-placement="top" title="Teljesítés"></i>
                <i *ngIf="!orderToEdit" class="fa fa-pencil" style="color:orange" (click)="onEdit(order)"
                    data-toggle="tooltip" data-placement="top" title="Szerkesztés"></i>
                <i *ngIf="orderToEdit" class="fa fa-download" style="color:green" (click)="onSave()"
                    data-toggle="tooltip" data-placement="top" title="Mentés"></i>
                <i *ngIf="orderToEdit" class="fa fa-ban" style="color:orange" (click)="onCancel()" data-toggle="tooltip"
                    data-placement="top" title="Elvetés"></i>
                <i class="fa fa-trash" style="color:red" (click)="onDelete(order.id)" data-toggle="tooltip"
                    data-placement="top" title="Törlés"></i>
            </div>
        </td>
    </ng-template>