.main {
    margin-top: 10vh;
}

h3 {
    margin-bottom: 26px;
    color: darkslategray;
    font-weight: 400;
    font-size: 28px;
}

.table>:not(caption)>*>* {
    border-bottom-width: 0px;
}

table tbody tr {
    border: 1px solid lightgray;

    p {
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 0 !important;
    }
}

.fa {
    cursor: pointer;
    font-size: 18px;
    margin-right: 6px;
}

.order-row:hover {
    background-color: lightgray;
    cursor: pointer;
}

.edit-td {
    div {
        display: flex;
        margin: 8px 16px 8px 8px;
    }

    .edit-title {
        margin-right: 8px;
        align-items: center;
        display: flex;
    }

    input,
    .dp-picker-input {
        font-size: 15px !important;
        font-weight: 400 !important;
    }
}

.new-order {
    border: 1px solid lightgray;
    padding: 12px;

    .edit-title {
        font-size: 15px;
        font-weight: bolder;
        color: darkslategray;
    }

    input {
        font-size: 15px;
        font-weight: 400;
        color: darkslategray;
    }

    >div {
        display: flex;
        margin-bottom: 12px;
        align-items: center;

        p {
            margin-right: 12px;
            margin-bottom: 0;
        }
    }
}