<div class="section">
	<div class="container">
		<div class="col title">
			<div class="row-md-8">
				<h1 class="sbb-title">Stinger Bait Boat</h1>
			</div>
			<div class="row-md-8"><img src="assets/img/stinger-logo.png" alt="Stinger Bait Boat"
					style="height: 50px; margin-bottom: 50px"><br></div>
		</div>
		<!-- <div class="col introduction">
			<p>Üdvözöllek az oldalamon! </p><br>
			<p>Szabó Bernát vagyok a Stinger etetőhajók forgalmazója. </p><br>
			<p>A sport horgászat iránti tiszteletem és a minőségi etetőhajók iránti kereslett miatt,
				úgy hozta a sors, hogy megkezdtem egyedi hajóim értékesítését.</p><br>
			<p>Nagyon köszönöm, hogy felkerested oldalamat. Kérlek nézz körül a termékeim között és keress bizalommal!
			</p>
			<br>
			<div class="row-md-8 text-center">
				<youtube-player videoId="XsyQLye2DhQ" suggestedQuality="highres" [height]="screenHeight"
					[width]="screenWidth">
				</youtube-player>
			</div>
		</div> -->
		<div class="row slideshow">
			<div class="col-md-8">
				<ngb-carousel>
					<ng-template ngbSlide>
						<div>
							<img src="./assets/img/carousel1.jpg" referrerPolicy="no-referrer">
							<div class="carousel-caption">
								<p></p>
							</div>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<div>
							<img src="./assets/img/hajo_sor.jpg" referrerPolicy="no-referrer">
							<div class="carousel-caption">
								<p></p>
							</div>
						</div>
					</ng-template>
					<ng-template ngbSlide>
						<div>
							<img src="./assets/img/carousel4.jpg">
							<div class="carousel-caption">
								<p></p>
							</div>
						</div>
					</ng-template>
				</ngb-carousel>
			</div>
		</div>
		<div id="hajok" class="boat-common">
			<p style="margin-bottom: 18px">Minden Beluga hajónk az alábbi alap felszereltséggel rendelkezik:</p>
			<ul>
				<li class="list-group-item"><i class="fa fa-check"></i>Méret: 82cm x 32cm x 17cm </li>
				<li class="list-group-item"><i class="fa fa-check"></i>Hatótávolság: 300-500 méter</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Erős ütésálló műanyag test</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Tartály méret: 1-1.5 kg etető anyag + szerelék
				</li>
				<li class="list-group-item"><i class="fa fa-check"></i>IMAX B6 okostöltő 12/220V</li>
				<li class="list-group-item"><i class="fa fa-check"></i>6 csatornás digitális távirányító</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Akkumulátor állapot kijelzése távirányitón</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Erős led fények elöl-hátul, távirányítóról
					kapcsolható</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Masszív hajó állvány</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Teljes körű, 2 + 1 éves garancia</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Minden hajó fóliásan kerül átadásra</li>
			</ul>
			<br>
			<p>A hajó 3 különböző kivitelben érhető el:</p>
		</div>
		<div class="table-responsive">
			<table class="table" style="text-align: center;">
				<thead>
					<tr>
						<th scope="col">Stinger Beluga</th>
						<th scope="col">Basic</th>
						<th scope="col">Medium</th>
						<th scope="col">Max</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Motor</th>
						<td class="table-item">775-ös 200W szénkefés</td>
						<td class="table-item">1600W BL szénkefe mentes</td>
						<td class="table-item">2000W BL szénkefe mentes vízhűtéssel</td>
					</tr>
					<tr>
						<th scope="row"> Akkumulátor</th>
						<td class="table-item">3 cellás 5000mhA Li-Po</td>
						<td class="table-item">4 cellás 8000mhA Li-Po</td>
						<td class="table-item">4 cellás 15.000mhA Li-Ion BMS védelemmel</td>
					</tr>
					<tr>
						<th scope="row">Behúzások száma</th>
						<td class="table-item">18-25</td>
						<td class="table-item">20-28</td>
						<td class="table-item">20-30</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="order">
			<a [routerLink]="['/rendeles']" class="nav-link"><button
					class="btn btn-danger btn-block btn-round">Rendelés</button></a>
		</div>


		<div *ngIf="news && news.isEnabled" class="col news text-center">
			<h3 class="news-title">Újdonság!</h3>
			<div class="news-text">
				<p>{{news.text}}</p>
			</div>
			<div class="row-md-8"><img [src]="getFullUrl(news.photoUrl)" [width]="screenWidth"
					referrerPolicy="no-referrer" style="margin-bottom: 40px;"><br>
			</div>
			<div class="row-md-8">
				<youtube-player [videoId]="news.videoUrl" suggestedQuality="highres" [height]="screenHeight"
					[width]="screenWidth">
				</youtube-player>
			</div>
		</div>



		<div>
			<div class="container text-center contact">
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto text-center">
						<h3>Kérdésed van?</h3>
						<p>Vedd fel velünk bátran a kapcsolatot az alábbi elérhetőségek bármelyikén!
						</p>
					</div>
				</div>
				<div class="contact-items" id="kapcsolat">
					<div><i class="fa fa-phone" style="color: green"></i>&nbsp;<a
							href="tel:+36303495477">(+36)30-349-54-77</a></div>
					<div><i class="fa fa-facebook-official" style="color: #1877f2"></i>&nbsp;<a
							href="https://www.facebook.com/messages/t/102529678534761">Messenger üzenet</a></div>
					<div><i class="fa fa-envelope" style="color: darkred"></i>&nbsp;<a
							href="mailto:stingerbaitboat@gmail.com">stingerbaitboat@gmail.com</a></div>
					<div><iframe
							src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5387.314558117809!2d19.181329000000005!3d47.535535!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741c4d82967c165%3A0x60c659ecbe07d092!2sBudapest%2C%20Patk%C3%B3szeg%20u.%204%2C%201162!5e0!3m2!1shu!2shu!4v1669390442955!5m2!1shu!2shu"
							width="320" height="240" style="border:0;" allowfullscreen="" loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"></iframe></div>
				</div>
			</div>
		</div>
	</div>
</div>