.section {
	padding-top: 40px;
	color: darkslategray !important;
	font-size: 16px !important;

	.title {
		margin-top: 0 !important;
		margin-bottom: 0;

		h2 {
			margin: 0 0 30px 0;
		}
	}
}

h1 {
	font-size: 52px;
}

.introduction {
	text-align: justify;
	padding: 30px 0;
}

p {
	font-size: 17px !important;
	font-weight: 400;
}

.title {
	text-align: center;
}

ngb-carousel {
	img {
		height: 100%
	}

	margin-bottom: 20px;
}

.boat-common {
	margin-top: 32px;

	i {
		margin-right: 12px;
		color: green;
	}

	ul {
		margin-top: 10px;
		margin-bottom: 24px;
		padding-left: 0;
		text-align: center;
	}

	.list-group-item {
		border: none;
		font-weight: 400;
	}
}

.table-responsive {
	border: none;
}

.table {
	margin-top: 10px;
	border: 1px solid rgba(0, 0, 0, 0.1);

	thead>th,
	th,
	td {
		border: none !important;
		vertical-align: middle;
	}

	.table-item {
		font-weight: 400;
	}

	margin-bottom: 24px;
}

.sbb-title {
	font-family: 'Black Rose', sans-serif;
	margin: 0 0 22px 0;
}

.order {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 50px;

	button {
		width: 250px;
	}
}

.contact {
	margin-top: 40px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;

	>.row {
		justify-content: center;
	}

	h3 {
		margin-bottom: 12px;
	}

	.contact-items {
		text-align: center;

		div {
			margin: 20px;
			justify-content: center;
			display: flex;

			i {
				text-align: center;
				font-size: 24px;
				margin-right: 10px;
			}
		}
	}
}

.slideshow {
	display: flex;
	justify-content: center;
}

.news {
	.news-text {
		margin: 16px 0;
	}

	img {
		border-radius: 5px;
	}
}