<div class="section">
	<div class="container">
		<div class="title">
			<h2>Stinger Bait Boat</h2>
			<img src="assets/img/stinger-logo2.png" style="margin-top: 16px" alt="Stinger Bait Boat">
		</div>
		<div class="introduction">
			<p>Üdvözöllek oldalamon! </p>
			<p>Szabó Bernát vagyok a Stinger etetőhajók forgalmazója. </p>
			<p>A sport horgászat iránti tiszteletem és a minőségi etetőhajók iránti kereslett miatt,
				úgy hozta a sors, hogy megkezdtem egyedi hajóim értékesítését.</p>
			<p>Nagyon köszönöm, hogy felkerested oldalamat. Kérlek nézz körül a termékeim között és keress bizalommal!
			</p>
			<p>Mottónk:
				<i>"Ha halat akarsz fogni, meg kell értened, hogyan gondolkodnak; ha Te hal lennél, mikor harapnál rá a
					csalira. Aztán oda dobd a horgot, ahol leginkább sejted a halat!"</i>
			</p>
		</div>
		<div id="hajok">
			<ngb-carousel>
				<ng-template ngbSlide>
					<img src="./assets/img/carousel1.jpg" alt="Random first slide">
					<div class="carousel-caption">
						<p>Felirat 1</p>
					</div>
				</ng-template>
				<ng-template ngbSlide>
					<img src="./assets/img/carousel3.jpg" alt="Random second slide">
					<div class="carousel-caption">
						<p>Felirat 2</p>
					</div>
				</ng-template>
				<ng-template ngbSlide>
					<img src="./assets/img/carousel4.jpg" alt="Random third slide">
					<div class="carousel-caption">
						<p>Felirat 3</p>
					</div>
				</ng-template>
			</ngb-carousel>
		</div>
		<div class="boat-common">
			<p>Minden Beluga hajónk az alábbi alap felszereltséggel rendelkezik:</p>
			<ul>
				<li class="list-group-item"><i class="fa fa-check"></i>Méret: 82cm x 32cm x 17cm </li>
				<li class="list-group-item"><i class="fa fa-check"></i>Hatótávolság: 300-500 méter</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Erős ütésálló műanyag test</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Tartály méret: 1-1.5 kg etető anyag + szerelék
				</li>
				<li class="list-group-item"><i class="fa fa-check"></i>IMAX B6 okostöltő 12/220V</li>
				<li class="list-group-item"><i class="fa fa-check"></i>6 csatornás digitális távirányító</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Akkumulátor állapot kijelzése távirányitón</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Erős led fények elöl-hátul, távirányítóról
					kapcsolható</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Masszív hajó állvány</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Teljes körű, 2 éves garacia</li>
				<li class="list-group-item"><i class="fa fa-check"></i>Minden hajó fóliásan kerül átadásra</li>
			</ul>
			<p>A hajó 3 különböző kivitelben érhető el:</p>
		</div>
		<div class="table-responsive">
			<table class="table" style="text-align: center;">
				<thead>
					<tr>
						<th scope="col">Stinger Beluga</th>
						<th scope="col">Basic</th>
						<th scope="col">Medium</th>
						<th scope="col">Max</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">Motor</th>
						<td>775-ös 200W szénkefés</td>
						<td>1600W BL motor szénkefe mentes</td>
						<td>2000W BL motor szénkefe mentes</td>
					</tr>
					<tr>
						<th scope="row"> Akkumulátor</th>
						<td>5000mhA Li-Po</td>
						<td>5000mhA Li-Po</td>
						<td>9500mhA Li-Po</td>
					</tr>
					<tr>
						<th scope="row">Behúzások száma</th>
						<td>18-25</td>
						<td>18-25</td>
						<td>10-20</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="order">
			<a [routerLink]="['/rendelés']" class="nav-link"><button
					class="btn btn-danger btn-block btn-round">Rendelés</button></a>
		</div>
		<div id="kapcsolat">
			<div class="container text-center contact">
				<div class="row">
					<div class="col-md-8 ml-auto mr-auto text-center">
						<h3>Kérdésed van?</h3>
						<p>Vedd fel velünk bátran a kapcsolatot az alábbi elérhetőségek bármelyikén!
						</p>
					</div>
				</div>
				<div class="contact-items">
					<a href="tel:+36303495477">
						<p><i class="fa fa-phone" style="color: green"></i>(+36)30-349-54-77</p>
					</a>
					<a href="https://www.facebook.com/messages/t/102529678534761">
						<p><i class="fa fa-facebook-official" style="color: #1877f2"></i>&nbsp;Messenger üzenet</p>
					</a>
					<a href="mailto:stingerbaitboat@gmail.com">
						<p><i class="fa fa-envelope" style="color: darkred"></i>&nbsp;stingerbaitboat@gmail.com</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>