<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" [class.discount-active]="isDiscountActive"
	color-on-scroll="500">
	<div class="container">
		<div class="navbar-translate">
			<button class="logo-image" (click)="logoClicked()">
				<img src="assets/img/stinger-logo.png" alt="Stinger Bait Boat" referrerPolicy="no-referrer">
			</button>
			<button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
				data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation" (click)="sidebarToggle()">
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
				<span class="navbar-toggler-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse" id="navbarToggler">
			<ul class="navbar-nav ml-auto">
				<li *ngIf="!isAdmin" class="nav-item dropdown" ngbDropdown>
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Hajók</a>
					<ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
						<li class="nav-item" ngbDropdownItem><a class="nav-link" [routerLink]="['/hajo/basic']">Beluga
								Basic</a></li>
						<li class="nav-item" ngbDropdownItem><a class="nav-link" [routerLink]="['/hajo/medium']">Beluga
								Medium</a></li>
						<li class="nav-item" ngbDropdownItem><a class="nav-link" [routerLink]="['/hajo/max']">Beluga
								Max</a></li>
					</ul>
				</li>
				<li *ngIf="!isAdmin" class="nav-item">
					<a [routerLink]="['/radarok']" class="nav-link">Radarok</a>
				</li>
				<li *ngIf="!isAdmin" class="nav-item">
					<a [routerLink]="['/autopilot']" class="nav-link">Autopilot</a>
				</li>
				<li *ngIf="!isAdmin" class="nav-item">
					<a [routerLink]="['/rendeles']" class="nav-link">Rendelés</a>
				</li>
				<li *ngIf="!isAdmin" class="nav-item">
					<a [routerLink]="['/kepek']" class="nav-link">Képek</a>
				</li>
				<li *ngIf="!isAdmin" class="nav-item">
					<a [routerLink]="['/videok']" class="nav-link">Videók</a>
				</li>
				<li *ngIf="!isAdmin" class="nav-item">
					<a [routerLink]="['/index']" fragment="kapcsolat" class="nav-link">Kapcsolat</a>
				</li>
				<li *ngIf="!isAdmin" class="nav-item">
					<a href="https://www.facebook.com/groups/798975810699287" class="nav-link facebook"
						target="_blank"><i class="fa fa-facebook-official"></i></a>
				</li>
				<li *ngIf="!isAdmin" class="nav-item">
					<a href="https://www.instagram.com/stingerbaitboat/" class="nav-link insta" target="_blank"><i
							class="fa fa-instagram"></i></a>
				</li>
				<li *ngIf="isAdmin" class="nav-item">
					<a [routerLink]="['/admin/rendelesek']" class="nav-link">Rendelések</a>
				</li>
				<li *ngIf="isAdmin" class="nav-item">
					<a [routerLink]="['/admin/keszlet']" class="nav-link">Készlet</a>
				</li>
				<li *ngIf="isAdmin" class="nav-item">
					<a [routerLink]="['/admin/kepek']" class="nav-link">Képek</a>
				</li>
				<li *ngIf="isAdmin" class="nav-item">
					<a [routerLink]="['/admin/videok']" class="nav-link">Videók</a>
				</li>
				<li *ngIf="isAdmin" class="nav-item">
					<a [routerLink]="['/admin/ujdonsag']" class="nav-link">Újdonság</a>
				</li>
				<li *ngIf="isAdmin" class="nav-item">
					<a [routerLink]="['/admin/akcio']" class="nav-link">Akció</a>
				</li>
				<li *ngIf="isAdmin" class="nav-item">
					<a [routerLink]="['/admin/kuponok']" class="nav-link">Kuponok</a>
				</li>
			</ul>
		</div>
	</div>
</nav>