<app-navbar [isDiscountActive]="sale && sale.isEnabled"></app-navbar>
<div *ngIf="sale && sale.isEnabled" id="scroll-container">
    <div id="scroll-text" [style.animation-timing-function]="animationTimingFunction"
        [style.animation-duration]="animationDuration" [style.animation-name]="animationName"
        [style.animation-iteration-count]="animationIterationCount" #scrollText>{{sale.text}}
    </div>
</div>
<router-outlet></router-outlet>
<app-footer *ngIf="removeFooter()"></app-footer>