<div class="wrapper">
	<div class="page-header page-header-xs" data-parallax="true"
		style="background-image: url('./assets/img/flysky.jpg');">
		<div class="title">
			<h2>Autopilot</h2>
			<!-- <h4>BELUGA BASIC</h4> -->
		</div>
		<div class="filter"></div>
	</div>
	<div class="section">
		<div class="container">
			<div class="boat-wrapper">
				<div class="row">
					<div class="col boat-col">
						<br>
						<h5>Félautomata Autopilot</h5>
						<p class="justified">Az áltatunk használt rendszer teljesen magyar nyelvű, külső eszközt nem
							igényel, a hajó távirányítójába van beépítve.</p>
						<p class="justified">Összesen 7 pont menthető el (a kiindulási ponttal együtt), ezek a
							távirányító kikapcsolása után is, akár éveken át is elérhetők lesznek.</p>
						<p class="justified">Egy adott pont elmentése után, a kijelzőn megjelenő szöveg és ábra segít az
							etetésre visszatalálni. Megmutatja hány méterre vagyunk a céltól,
							illetve hogy az irány megfelelő-e („IRÁNY OK”), vagy fordulnunk kell a hajón valamelyik
							irányba és ha igen, mennyire (pl: „< BAL” vagy „JOBB&nbsp;>>>”).
						</p>
						<br>
						<h5>Kinek ajánljuk a félautomata rendszert?</h5>
						<p class="justified">
							Akiknek fontos, hogy mindig pontosan ugyanoda találjanak vissza az etetőhajóval, akár rossz
							látási körülmények között is (éjszaka, ködben), illetve nagyobb
							távolságoknál, ahol maga a hajó is már nehezen látható. </p>
						<p class="justified">
							A félautomata rendszer hátránya, hogy a hajót neked kell a megfelelő helyre irányítani, a
							távirányítón megjelenő információknak megfelelően. </p>
						<br>
						<h5>Hogy működik a gyakorlatban?</h5>
						<p class="justified">
							Induláskor a 0-s helyre elmentjük a horgászhely pozícióját, majd elindulunk a meghorgászni
							kívánt helyre. Ekkor folyamatosan látjuk a távírányítón, hány méterre vagyunk a parttól.</p>
						<p class="justified">
							Amint elértük a kívánt pozíciót, elmentjük például az 1-es helyre. Ezután ha szeretnénk,
							vissza állíthatjuk a 0-s pozíciót, és a partra navigálásban is tud segíteni a hajó.
						</p>
						<p class="justified">
							Minden további behúzásnál a vízre rakás után kiválasztjuk a megfelelő etetési pontot,
							például az előző lépésben elmentett 1-es helyet. Ezután a távirányítón folyamatosan
							láthatjuk a távolságot,
							illetve az irányt, amit követnünk kell.
						</p>
						<p class="justified">
							Amint a hajó elért az etetéshez, a távírányító hangjelzéssel is jelzi azt.
						</p>
					</div>
				</div>
				<div class="order">
					<a [routerLink]="['/rendeles']" class="nav-link"><button
							class="btn btn-danger btn-block btn-round">Rendelés</button></a>
				</div>
			</div>
		</div>
	</div>
</div>