<div class="wrapper">
	<div class="page-header page-header-xs" data-parallax="true"
		style="background-image: url('./assets/img/carousel2.jpg');">
		<div class="filter"></div>
	</div>
	<div class="section">
		<div class="container">
			<div class="title text-center">
				<h2>Videók</h2>
				<br>
				<div class="video-gallery">
					<ng-container *ngFor="let video of videos">
						<div class="video-wrapper">
							<youtube-player [videoId]="video.url" suggestedQuality="highres" [height]="screenHeight"
								[width]="screenWidth">
							</youtube-player>
						</div>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
</div>