<div class="wrapper">
	<div class="page-header page-header-xs" data-parallax="true"
		style="background-image: url('./assets/img/toslon_background.jpg');">
		<div class="title">
			<h2>Halradarok</h2>
			<h4>TOSLON TF-520 / TF-640</h4>
		</div>
		<div class="filter"></div>
	</div>
	<div class="section">
		<div class="container">
			<div class="radar-wrapper">
				<div class="row text-center logo">
					<img style="width: 250px" src="assets/img/toslon.jpg" alt="Toslon">
				</div>
				<div class="row info">
					<p>A halradar egy olyan műszer, ami egy szenzor segítségével ultrahangos jeleket bocsát ki,
						és ezáltal olyan adatokat tud számunkra közölni, amelyekkel sikeresebb lehet a horgászat.
					</p>
					<p>A készülék a kiküldött hangszignál és a vízben található tárgyak, vagy
						a vízfenék által visszaverődő hangszignál visszaérkezésének időpontja közötti időtartamot
						méri.</p>
					<p>A Toslon termékei kiváló minőséget képviselnek, könnyen kezelhető, direkt etetőhajókhoz
						készített eszközök.</p>
					<p class="text-center"><strong>Más gyártók eszközeit nem áll módunkban beszerelni a
							hajókba.</strong></p>
				</div>
				<div class="row">
					<div class="col-md-6 col-sm-12 radar-col">
						<h3 class="text-center">TOSLON TF-520</h3>
						<br>
						<div class="text-center">
							<img style="width: 250px" src="assets/img/tf520.jpg" alt="Toslon">
						</div>
						<h5>Leírás</h5>
						<p class="justified">
							Letisztult, általános funkciókat ellátó készülék. A fejlett szonár segítségével fontos
							információt gyűjthetünk a mederfenékről
							(pl. domborzat, talajminőség) és a vízről (pl. hőfok, mélység). Megmutatja a halakat
							pozícióit is,
							amelyek nagyban hozzájárulhatnak a sikeres horgászathoz.
						</p>
						<p class="justified">
							Belső szoftvere letisztult, könnyen átlátható, funkciói Windows szerű menürendszerbe vannak
							csoportosítva.
							A vezérlése nyomógombokkal történik, így a kezelése közben nem állítható el visszajelzés
							nélkül.
						</p>
						<br>
						<h5>Specifikáció</h5>
						<ul>
							<li>4,3″ TFT monitor, amely napfényben is kiváló olvashatóságot garantál</li>
							<li>Felbontás: 480×272 pixel, 65,536 szín</li>
							<li>Készülék méret: 153 x 110 x 44 mm</li>
							<li>Nyelv: angol, német, francia, holland, orosz</li>
							<li>Megjelenített adatok: vízhőmérséklet, vízmélység, a hajóban lévő jeladó és a készülék
								töltöttségi szintje</li>
							<li>Részletes mederfenék megjelenítés</li>
							<li>Folyamatos, valós kép mutatása (Real Time Window)</li>
							<li>2,4 GHz adóteljesítmény</li>
							<li>Szonár frekvencia: 115 KHz</li>
							<li>Hatótávolság: 300m+, mélység: 0,5m – 30 m</li>
							<li>Áramellátás: 9~15V / 3S Li-Po akkumulátor</li>
							<li>Működési hőmérséklet: -10-50 C°</li>
							<li>Hordozható, állványra szerelhető monitor</li>
							<li>Jeladó látószög: 60 fok</li>
							<li>Akkumulátor kímélés: 10 perc inaktív idő után automatikus lekapcsolás</li>
							<li>Jeladó látószög: 60 fok</li>
							<li>A Windows-hoz hasonló menürendszer</li>
							<li>Elem merülésekor hangjelzés</li>
							<li>A színjelölés elválasztja a halat és a fenékmedret, és meghatározza a talaj keménységét
							</li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-12 radar-col">
						<h3 class="text-center">TOSLON TF-640</h3>
						<br>
						<div class="text-center">
							<img style="width: 250px" src="assets/img/tf640.jpg" alt="Toslon">
						</div>
						<h5>Leírás</h5>
						<p class="justified">
							Minden funkcióval rendelkezik, amellyel a TF-520-as típus fel van szerelve, minden
							beállítási megoldása és lehetősége egyezik
							(a kijelző, a menü elrendezése, a színjelölés, stb.). Ezen felül viszont GPS-t (navigációs
							rendszert) is tartalmaz.
						</p>
						<p class="justified">
							Ez egy – koordináták segítségével létrejövő – pozíciós pontosságú GPS, digitális vezeték
							nélküli szonár és egy elektronikus iránytű kombinációja.
							A GPS-rendszer lehetővé teszi az etetőhajó vezetését bármely mentett útvonalponthoz.</p>
						<br>
						<h5>Specifikáció</h5>
						<p><strong>Minden, amit a TF-520 tud, illetve:</strong></p>
						<ul>
							<li>GPS-adatok rögzítése, megjelenítése, irány mutatása</li>
							<li>A hajó sebessége, fedélzeti idő, műhold darabszám megjelenítése</li>
							<li>Hangjelzés a célpont elérése előtt, vagy annak pillanatában</li>
							<li>Nagyítás / kicsinyítés útvonal megjelenítése</li>
						</ul>
					</div>
				</div>
				<div class="order">
					<a [routerLink]="['/rendeles']" class="nav-link"><button
							class="btn btn-danger btn-block btn-round">Rendelés</button></a>
				</div>
			</div>
		</div>
	</div>
</div>