<div class="wrapper">
	<div class="page-header page-header-xs" data-parallax="true"
		style="background-image: url('./assets/img/hajo_sor.jpg');">
		<div class="title">
			<h2>Etetőhajó</h2>
			<h4>BELUGA MEDIUM</h4>
		</div>
		<div class="filter"></div>
	</div>
	<div class="section">
		<div class="container">
			<div class="boat-wrapper">
				<div class="row text-center">
					<h1 class="sbb-title">Stinger Beluga Medium</h1>
				</div>
				<div class="row text-center" style="justify-content: center">
					<img src="assets/img/beluga-medium.jpg" alt="Beluga Medium">
				</div>
				<div class="row">
					<div class="col boat-col">
						<h5>Általános információk</h5>
						<p class="justified">Egy kézzel készített, közepes teljesítményű etetőhajó, amely képes
							ellenállni a kritikus időjárási körülményeknek is.</p>
						<p class="justified">Szénkefe nélküli motorja nagyobb sebességet és átlagos üzemidőt eredményez.
						</p>
						<p class="justified">Minden hajónk könnyen kezelhető és személyre szabható.</p>
						<p class="justified">Hajóink 3 az egyben modullal vannak szerelve. Ez azt jelenti, hogy a
							távirányítóról kapcsolhatók és szabályozhatók a lámpák,
							illetve az opcionálisan rendelhető reflektor és a radar is.</p>
						<p class="justified">A távirányító hangjelzéssel jelez ha merül az akkumulátor és ki is irja a
							képernyőjén.</p>
						<p class="justified">Az etetőhajó alapára egy szett, amely a következőket tartalmazza:</p>
						<div style="text-align: left;">
							<ul style="margin: 0">
								<li>1 db akkumulátor</li>
								<li>Masszív hajó állvány</li>
								<li>6 csatornás digitális távirányító</li>
								<li>IMAX B6 okostöltő 12/220V</li>
							</ul>
						</div>
						<p class="justified">A hajóra és tartozékaira (kivéve akkumulátor) 2 + 1 év saját garancia van.
							A bónusz év abban az esetben jár, ha elhozod a hajót az éves karbantartásokra.</p>
						<br>
						<h5>Kinek ajánljuk a Medium hajónkat?</h5>
						<p class="justified">
							Akiknek egy megbízható, sok behúzásra képes hajóra van szükségük, ami kellően gyors is.
						</p>
						<br>
						<h5>Specifikáció</h5>
						<ul>
							<li>Méret: 82cm x 32cm x 17cm</li>
							<li>1600W BL szénkefe mentes motor</li>
							<li>5000mhA Li-Po akkumulátor</li>
							<li>18-25 behúzás</li>
							<li>Hatótávolság: 300-500 méter</li>
							<li>Erős ütésálló műanyag test</li>
							<li>Tartály méret: 1-1.5 kg etető anyag + szerelék</li>
							<li>Akkumulátor állapot kijelzése távirányitón</li>
							<li>Erős led fények elöl-hátul, távirányítóról kapcsolható</li>
							<li>Minden hajó fóliásan kerül átadásra</li>
						</ul>
					</div>
				</div>
				<div class="order">
					<a [routerLink]="['/rendeles']" class="nav-link"><button
							class="btn btn-danger btn-block btn-round">Rendelés</button></a>
				</div>
			</div>
		</div>
	</div>
</div>